/*
 * Accordion
*/

.accordion {
    clear: both;
    position: relative;
    float:left;
    width:100%;
    margin:0 0 $ms2;
    @include clearfix();
    z-index: 1;

	@include media-query($medium-up) {
        max-width: 600px;
		margin:$ms1 0 $ms0;
	}
	@include media-query($large-up) {
        max-width: 500px;
        margin:$ms0 0;
	}
}


.accordion__items {
    display:block;
    list-style:none;
}


.accordion__item {
    clear:both;
    display:block;
    width:100%;
    margin-bottom:0;
    padding:$ms-1 0;
    color:$color-brand5;
    text-transform:lowercase;
    border-bottom:1px solid $color-brand5;

    &:first-child {
        border-top:1px solid $color-brand5;
    }
}

.accordion__title {
    position:relative;
    display:block;
    width:100%;
    margin-bottom:0;
    padding-right: $ms4;
    @include font-light;
    @include type-xsmall;
    cursor:pointer;

    svg { 
        position: absolute; 
        top:0;
        right:$ms0;
        width:14px;
        height:14px;
    }

    @include media-query($medium-up) {
        @include type-small;

        svg { 
            position: absolute; 
            top:0;
            right:$ms0;
            width:18px;
            height:18px;
        }
	}
}

.accordion__desc {
    display:block;
    width:100%;
    padding:$ms-4 0 0;

    p {
        @include font-light;
        @include type-xsmall;
        color:$color-brand5;
    
        &:last-of-type { margin-bottom:0; }
    }
}
.js .accordion__desc {
    display:none;
}


// Symbols
.accordion__plus,
.accordion__minus {
    path { fill:$color-brand5; }
}

.accordion__minus { display:none; }
.active .accordion__plus { display:none; }
.active .accordion__minus { display:block; }
