/*
 * Article
*/

.articles {
	display:flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content:center;
}


.article {
	display:block;
	margin-bottom:$ms0*2.5;
	flex:0 1 auto;
	flex-basis:400px;

	@include media-query($medium-up) {
		flex-basis:30%;
		margin-left:1.5%;
		margin-right:1.5%;
	}
	@include media-query($xlarge-up) {
		flex-basis:23%;
		margin-left:1%;
		margin-right:1%;
	}
	@include media-query($widescreen) {
		flex-basis:24%;
		margin-left:.5%;
		margin-right:.5%;
	}
}


.article__title {
	display:block;
	width:100%;
	border-bottom:1px solid $color-border;
	padding-bottom:$ms0/2;
	margin-bottom:$ms0/2;
	text-align:center;

	a {
		color:$color-body-text;
		text-decoration:none;
		text-transform:uppercase;	
		font-style:italic;
	}
}


.article__image {
	display:flex;
    justify-content:center;
    align-items:center;
	width:100%;
	margin-bottom:$ms0/2;

	img {
		display:block;
		margin:0 auto;
		width:auto;
		max-height:240px;

		@include media-query($xlarge-up) {
			max-height:320px;
		}
		@include media-query($widescreen) {
			max-height:400px;
		}
	}
}



.article__desc {
	display:block;
	width:100%;
	padding:$ms0/4 0 $ms0/2;
	text-align:center;

	p {
		font-size:.825em;
		text-align:center;
	}
}