.button {
  position: relative;
  display: inline-block;
  padding:0;

  @include font-light;
  @include type-xsmall; 
  color:$color-button-text;
  line-height:$ms1;
  text-align: center;
  text-decoration: none;
  text-transform:lowercase; 
  white-space: nowrap;

  border:0;
  background-color:transparent;

  outline:none;
  vertical-align: middle;
  width: auto;
  user-select: none;
  appearance: none;
  cursor:pointer;

  span {
    position: relative;
    display:block;
    padding:$ms-5 $ms1 $ms-6;
    background-color:$color-button;
    border:1px solid $color-brand2;
    @include border-radius($curve);
  
    z-index:1;
  }

  &:visited,
  &:focus {
    color:rgb(248, 171, 173);
  }

  &:after {
    position: absolute;
    display:block;
    content:'';
    left:-4px;
    bottom:-5px;
    background-color: rgba(248, 171, 173, .4);
    @include border-radius($curve);
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &:hover {
    span {
      top:3px;
      left:-2px;
      color:$color-button-text;
    }
  }

  @include media-query($medium-up) {
    margin-left:0;
    @include type-small; 
  }
}


.button--inline {
  margin-right:$ms-4;

  &:last-of-type {
      margin-right: 0;
  }

  @include media-query($medium-up) {
    margin-right:$ms-1;
  }
}

.button--footer { 
  display:block; 
  margin:0 auto $ms5; 
  @include type-xsmall;

  span {
    padding:$ms-3 $ms1;
  }
}

.button--single-product { 
  clear:both;
  float:left;
 }

 .floating-cta__content .button {
     clear: none;
  float:left;
  margin:$ms-5 0 0 $ms-4;
  @include type-xsmall; 

    @media all and (min-width: 460px) {
        float:right;
        margin:-1px $ms-8 0;
    }
    @include media-query($medium-up) {
        @include type-small; 
    }
}