/*
 * Cart
*/

.cart {
	position: relative;
	display:block;
	width:100%;
	padding-bottom:$ms4;
	margin:0 auto;
	max-width:460px;
	@include clearfix();
}


.cart__message {
    clear:both;
    width:100%;
    margin-bottom:$ms2;
    text-align:center;
}
.cart__message--hidden { display:none; }


.cart-items {
	display:block;
	width:100%;
	margin-bottom:$ms3;
	@include clearfix();
}


.cart-item {
	position:relative;
	float:left;
	width:100%;
	padding:$ms1 0;
	margin-bottom:0;
	border-bottom:1px solid $color-brand5;	

	&:first-of-type {
		border-top:1px solid $color-brand5;
	}
}


.cart-item__image {
	float:left;
	width:35%;
	margin-bottom:0;

	a { 
		display:block; 
		margin-bottom:0;
	}

	img {
		display:block;
		width:100%;
		height:auto;
	}
}


.cart-item__details {
	position: relative;
	float:left;
	width:60%;
	margin-left:5%;
	padding-right:$ms0;
}


.cart-item__title {
	margin:0 0 0.25em;
	@include type-small;

	a {
		color:$color-body-text;
		text-decoration:none;
		text-transform:lowercase;	
	}

	@include media-query($small-up) {
		@include type-medium;
	}
}


// Close icon
.cart-item__close {
	position: absolute;
	top:0;
	right:0;
	color:$color-brand5;
	cursor:pointer;

	svg {
		path { fill:$color-brand5; }
	}
}



.cart-item__variant {
	display:block;
	margin-bottom:$ms-5;
	@include font-light;
	font-size:.725em;
	color:$color-brand5;
}


.cart-item__price {
	margin-bottom:0;
	@include font-light;
	@include type-small;
	color:$color-brand2;
}


// Footer section
.cart__footer {
    clear:both;
    float:left;
    width:100%;
    padding:$ms1;
    z-index:2;
}
.popcart .cart__footer {
    position: absolute;
    display:block;
    bottom:186px;
    padding:$ms1 15%;
    left:0;
    background-color:#F9E6E8;

    @media all and (min-width:748px) {
        bottom:176px;
    }
    @media all and (min-width:1040px) {
        bottom:76px;
        padding:$ms1;
    }
}


// Notes
.cart__notes-label {
	display:block;
	width:100%;
}

.cart__notes-input {
	display:block;
	width:100%;
}


// Totals
.cart__total-label {
    float:left;
    margin-bottom: 0;
	color:$color-brand3;
	text-transform:lowercase;
}

.cart__total-value {
    float:right;
    margin-bottom: 0;
	@include font-light;
	color:$color-brand2;
}


// Update
.cart__update {
	margin-bottom:$ms0;
	color:$color-brand2;
}


// Submit / Checkout button
.cart__button {
    @extend .button;

    span {
        padding-top:$ms-3;
        padding-bottom: $ms-3;    
    }

    @media all and (min-width:1040px) {
        clear:both;
        display:block;
        margin-bottom:0;
        width:100%;
        padding:$ms1;
        @include font-light;
        color:$color-brand1;
        text-transform:lowercase;
        text-align:center;
        background-color:$color-brand2;
        border:0;
        cursor:pointer; 
        outline:0;
        z-index:3;
        @include transition(all 1s ease);

        &:after { display: none; }
        span {
            padding:0;
            border:0;
            border-radius: none;
            background-color: transparent;
        }

        &:hover {
            background-color: darken(#f8abad, 6%);
            @include transition(all .5s ease);

            span {
                top:auto;
                left:auto;
                color:$color-brand1;
            }
        }
    }
}
.popcart .cart__button {
	position: absolute;
    bottom:0; 

    @media all and (max-width: 1040px) {
        bottom:$ms8 + 3.5em; 
        left:50%;
        transform: translateX(-50%);
        width:80%;
        min-width:260px;
    }
}