/*
 * Entry
*/

.entry {
	display:block;
	width:100%;
	max-width:600px;
	margin:0 auto $ms0;

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top:$ms-1;
	}

	p:last-of-type { margin-bottom:0; }

	ul,ol { margin-bottom:$ms0; }
}

.entry--centre {
	text-align:center;

	ul,ol { padding-left:0; }
	li {
		margin-left:0;
		list-style-position:inside;
	}
}

.entry--page {
	float:left;

	h2 { 
		@include type-xlarge;
        
		@include media-query($small-up) {
            @include type-giga;
        }
		@include media-query($xlarge-up) {
			font-size:$ms3; 
		}
		@include media-query($widescreen) {
			font-size:$ms4; 
			line-height:$ms0 - .1em;
		}
	}
	h3 { 
		margin-bottom:$ms0;
		@include type-medium;
		color:$color-brand4; 

		@include media-query($medium-up) {
			@include type-large;
		}
	}
	p, p a { color:$color-brand2; }
}

.entry--contact {
    p {
        @include font-light;
    }
}