/*
 * FAQ
*/

.faqs {
    float:left;
    width:100%;
}


.faq {
    clear:both;
    display:block;
    width:100%;
    padding:$ms1 0;
    margin-bottom:0;
    border-bottom:1px solid $color-brand2;

    &:first-child { border-top:1px solid $color-brand2; }

    @include media-query($small-up) {
        padding:$ms2 0;
    }
    @include media-query($xlarge-up) {
        padding:$ms3+.2em 0 $ms2+.2em;
    }
}


.faq__title {
    position: relative;
    display:block;
    width:100%;
    margin-bottom:0;
    padding-right:$ms3;
    @include type-medium;
    color:$color-brand2;
    text-transform: lowercase;
    cursor: pointer;

    @include media-query($small-up) {
        
        &:hover {
            span {
              top:3px;
              left:-2px;
            }
          }
    }
    @include media-query($xlarge-up) {
        @include type-large;
    }
}

.faq__trigger {
    position: absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    width:40px;
    height:40px;

    span {
        position: relative;
        display:block;
        width:100%;
        height:100%;
        padding:6px 10px;
        background-color:$color-button;
        border:1px solid $color-brand2;
        @include border-radius(100%);
        z-index:1;

        @include media-query($xlarge-up) {
            padding-top:3px;
            padding-bottom:3px;
        }
    }

    &:after {
        position: absolute;
        display:block;
        content:'';
        left:-3px;
        bottom:-4px;
        background-color: rgba(248, 171, 173, .4);
        @include border-radius(100%);
        width:100%;
        height:100%;
        z-index: 0;
      }
}


.faq__content {
    display:block;
    width:100%;
    max-width:740px;
    padding-top:$ms-1;

    p,li,a {
        @include font-light;
        @include type-xsmall;
        color:$color-brand5;

        @include media-query($small-up) {
            @include type-small;
        }
    }
    p:last-of-type { margin-bottom:0; }

    ul {
        display:block;
        margin-bottom:$ms0;

        li {
            list-style:disc;
            margin-left:$ms1;
        }
    }
}