/*
 * FloatingCTA
*/

.floating-cta {
    position:fixed;
    bottom:-100px;
    left:50%;
    width:100%;
    max-width:460px;
    transform:translate(-50%,0);
    @include transition(all .3s ease-in-out);
    z-index:5;

    &:after {
        position: absolute;
        display:block;
        content:'';
        left:-4px;
        bottom:-5px;
        background-color:#ccc;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity:0.5;

        @media all and (min-width: 460px) {
            @include border-radius($curve*2);
        }
    }
 
    @include media-query($medium-up) {
        max-width:560px;
    }

    &.reveal {
        bottom:0;

        @media all and (min-width: 460px) { bottom:$ms-5; }
        @include media-query($medium-up) { bottom:$ms-3; }
        @include media-query($xlarge-up) { bottom:$ms-2; } 
    }
}


.floating-cta__content {
    position: relative;
    display:block;
    padding:$ms-1 $ms0;
    background-color:$color-brand1;
    @include clearfix();
    z-index:5;

    @media all and (min-width: 360px) {
        padding:$ms-1 $ms4;        
    }   
    @media all and (min-width: 460px) {
        padding: $ms-1 $ms2;
        @include border-radius($curve*2);
    }
    @media all and (min-width: 500px) {
        padding:$ms-1 $ms3;
    }
}