/*
 * IconBlocks
*/

.icon-blocks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    width:100%;  
}
.icon-blocks--product { 
    position:relative;
    z-index:2;
    
    @include media-query($widescreen) {
        padding:0 $ms5;
    }
}


.l-icon-block {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -moz-flex-basis:33%;
    -webkit-flex-basis:33%;
	flex-basis:33%;
}
.l-icon-block--small {
    @include media-query($large-up) {
        -moz-flex-basis:25%;
        -webkit-flex-basis:25%;
        flex-basis:25%;
    }
    @include media-query($xlarge-up) {
        -moz-flex-basis:15%;
        -webkit-flex-basis:15%;
        flex-basis:15%;
    }
}
.l-icon-block--large {
    -moz-flex-basis:100%;
    -webkit-flex-basis:100%;
    flex-basis:100%;
    
    @include media-query($large-up) {
        -moz-flex-basis:33%;
        -webkit-flex-basis:33%;
        flex-basis:33%;
    }
}



.icon-block {
    display: block;
    margin:0 auto $ms-4;

    p {
        @include font-light;
        @include type-small;
        color:$color-brand2;
        text-align:center;
        text-transform:lowercase;
        line-height:$ms0;

        @include media-query($small-up) {
            @include type-medium;
        }
        @include media-query($large-up) {
            font-size:$ms2 - .2em;
        }
    }

    svg {
        display:block;
        margin:0 auto $ms-4;
        
        @include media-query($small-up) {
            width:60px;
            height:60px;           
        }
    }
}

// Sizes
.icon-block--small {
    p {
        margin:0 auto;
        max-width:120px;
        font-size:0.75em;
        line-height:$ms0; 

        @include media-query($small-up) {
            max-width:160px;
            font-size:1em;
        }
    }

    svg {
        width:40px;
        height:40px;
    }
}
.icon-block--large {
    display:flex;
    justify-content: flex-start;
    align-items: center;

    @include media-query($medium-up) {
        margin-bottom: $ms2;
    }
    @include media-query($large-up) {
        display: block;
    }

    p {
        display:block;
        max-width:160px;
        margin: 0 0 0 $ms-2;
        text-align: left;
        
        @include media-query($small-up) {
            @include type-medium;
            line-height:$ms0;
            max-width:180px;
            text-align: left;
        }
        @include media-query($large-up) {
            max-width:180px;
            margin:0 auto;
            @include type-medium;
            text-align: center;
        }
        @include media-query($xlarge-up) {
            max-width:260px;
            @include type-large;
        }
    }

    svg {
        width:40px;
        height:40px;
        margin:0 0 $ms-6;

        @include media-query($small-up) {
            width:60px;
            height:60px;  
        }
        @include media-query($large-up) {
            margin:0 auto $ms-2;          
        }
    }
}

// Colours
.icon-block--color-brand2 {
    p { color:$color-brand2 }

    path,
    polygon { fill:$color-brand2; }
}