/*
 * Newsletter
*/

.newsletter {
	display:block;
	width:100%;
	max-width:400px;
	margin:0 auto $ms2;
}


.newsletter__label {
	display:block;
	margin-bottom:$ms-2;
	font-weight:$font-body-bold-weight;
	text-align:center;
}


.newsletter__desc {
	display:block;
	width:100%;
	text-align:center;
}


.newsletter__input {
	display:block;
	width:100%;
	text-align:center;
}