/*
 * Pagination
*/

.pagination {
	clear:both;
	display:block;
	margin:0 auto;
	text-align:center;

	a {
		color:$color-body-text;
		text-transform:uppercase;	
	}

	.prev a, 
	.next a {
		text-decoration:none; 

		&:hover {
			text-decoration:underline; 			
		}		
	}
}


