/*
 * Popcart
*/

.popcart-overlay {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5);
    z-index:10;
}

.popcart {
    position:fixed;
    top:0;
    right:-100%;
    width:100%;
    min-height:100vh;
    background-color:#F9E6E8;
    z-index:11;
    @include transition();

    @include media-query($small-up) {
        max-width:400px;
    }
}


// Header
.popcart__header {
    position: relative;
    float:left;
    width:100%;
    padding:$ms-1 $ms1;
    background-color:$color-brand1;
    z-index:1;

    @include media-query($widescreen) {
        padding:$ms2 $ms1;
    }
}

.popcart__title {
    float:left;
    margin-bottom:0;
    @include type-xsmall;
    color:$color-brand2;
    text-transform:uppercase;
    text-decoration:none;
    letter-spacing:.2em;
	font-weight:$font-body-weight-bold;

	svg {
		position: relative;
		display:inline-block;
		top:3px;
		margin-left:$ms-8;
    }
}

.popcart__close {
    float:right;
    margin-bottom:0;
    @include type-medium;
    color:$color-brand2;
    text-transform:lowercase;
    text-decoration:none;
    line-height:1.6em;
    cursor:pointer;
}


.popcart__body {
    position: absolute;
    display:block;
    top:95px;
    left:0;
    width:100%;
    max-height:55%;
    padding:$ms-2 $ms1;
    @include clearfix();
    overflow: auto;
    z-index:0;

    @include media-query($small-up) {
        padding-top:$ms2;
        padding-bottom:$ms2;
    }
}