/*
 * Products
*/

.products-header {
	display:block;
	width:100%;
	margin-bottom:$ms0*2;
	text-align:center;
}

.products-header__title {
	display:block;
	margin:0 auto;
	max-width:180px;
	font-size:1.2em;
	color:$color-body-text;
	text-align:center;
	text-transform:uppercase;
	font-style:italic;
	line-height:1;
}


.products-header__desc {
	display:block;
	width:100%;
	margin-top:$ms0;
}



/*Product Items*/
.products {
	display:block;
	width:100%;
	max-width:1700px;
	margin:$ms6 auto 0;
	@include clearfix();

	@include media-query($medium-up) {
		margin-top:0;
	}
}


/*Product Layout*/
.l-products {
	display:flex;
	width:100%;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;	
}

.l-product {
	display:block;
	flex:0 1 auto;
	flex-basis:100%;

	@include media-query($medium-up) {
		flex-basis:50%;
	}
}



.product {
	position:relative;
	display:block;
	margin:0 auto;
	width:100%;
	@include transition(all .2s linear);
	cursor: pointer;
	overflow:hidden;

	.hero__pattern { display:none; }

	&.product2 { margin-bottom:$ms5; }

	@include media-query($medium-up) {
		min-height:600px;
		padding:$ms8 0 $ms4;
		margin-bottom:0;

		&.product2 { margin-bottom:0; }

		.hero__pattern { display:none; }
		.hero__pattern--left { top:20px; }
		.hero__pattern--right { top:-60px; width:220px; min-height:1000px; }
	}
	@include media-query($large-up) {
		min-height:750px;
		padding:$ms8 + 2em 0 $ms7;
	}
	@media all and (min-width: 1200px) {
		.hero__pattern { 
			display:block; 
			@include transition(all .2s ease-in-out);		
		}
		.hero__pattern--top { top:-300px; }
		.hero__pattern--left { left:-300px; }
		.hero__pattern--right { right:-400px; }
		.hero__pattern--bottom { bottom:-250px; }

		&:hover {
			.hero__pattern--top { top:-100px; }
			.hero__pattern--left { left:-130px; }
			.hero__pattern--right { right:-155px; }
			.hero__pattern--bottom { bottom:-100px; }

			.hero__pattern { @include transition(all .2s ease-in-out); }
		}
	}
	@include media-query($widescreen) {
		min-height:900px;

        .hero__pattern--top { top:-400px; }
		.hero__pattern--left { left:-300px; }
		.hero__pattern--right { top:20px; right:-500px; }
		.hero__pattern--bottom { bottom:-350px; }
	}
}


.product__image {
	display:block;
	margin:0 auto $ms0;
	@include transition(all .2s linear);

	img {
		display:block;
		margin:0 auto;
		width:100% !important;
	}

	@include media-query($medium-up) {
		position: absolute;
		top:45%;
		left:50%;
		transform:translate(-50%,-50%);
	}	
}
.product1 .product__image {
	max-width:400px;

	@include media-query($medium-up) {
		max-width:none;
		width:300px;
	}	
	@include media-query($large-up) {
		width:340px;
	}
	@include media-query($xlarge-up) {
		width:400px;
	}	
	@include media-query($widescreen) {
		top:47%;
		width:450px;
	}	
	@include media-query($giant-up) {
		width:480px;
	}
}
.product2 .product__image {
	max-width:440px;

	@include media-query($medium-up) {
		max-width:none;
		width:400px;
	}
	@include media-query($large-up) {
		width:560px;
	}	
	@include media-query($xlarge-up) {
		width:680px;
	}	
	@include media-query($widescreen) {
		width:740px;
	}	
	@include media-query($giant-up) {
		width:840px;
	}
}


.product__content {
	display:block;
	width:100%;
	margin-top:-$ms5;
	text-align:center;
	@include transition(all .2s linear);

	@include media-query($medium-up) {
		position:absolute;
		top:75%;
		left:50%;
		transform:translate(-50%, -50%);
		margin-top:0;
	}
	@include media-query($large-up) {
		top:77%;
	}
	@include media-query($xlarge-up) {
		top:80%;
	}
	@include media-query($widescreen) {
		top:82%;
	}
	@include media-query($giant-up) {
		top:80%;
	}
}
.product2 .product__content { 
	margin-top:-$ms6;

	@media all and (min-width: 420px) {
		margin-top:-$ms8;
	}
	@include media-query($medium-up) {
		margin-top:0;
	}
}



.product__title {
	margin:0 0 0.25em;
	font-size:$ms4;
	text-align:center;

	a {
		color:$color-brand3;
		text-decoration:none;
		text-transform:lowercase;
	}

	@include media-query($medium-up) {
		font-size:$ms4;
	}	
	@include media-query($large-up) {
		font-size:$ms6;
	}	
	@include media-query($giant-up) {
		font-size:$ms7;
	}	
}


.product__price {
	@extend .button;
}


.product__sold-out {
	clear:both;
	display:block;
	margin-top:$ms0/2;
	text-transform:lowercase;
}