/*
 * Product Gallery
*/

.product-gallery {
    float:left;
    width:100%;
    padding:0;
    list-style:none;
    margin:0 0 $ms0;

	@include media-query($large-up) {
        float:right;
        width:12%;
        margin-right:5%;
        margin-bottom:0;
	}
}


.product-gallery__item {
    display:inline-block;
    width:29%;
    max-width:300px;
    margin:0 1.29%;

    img {
        border:1px solid transparent;        
    }
    .img-thumb-active { border-color:#bbb; } // active class applied in js

    @include media-query($medium-up) {
        width:17%;
        margin:0 1.27%;
    }
	@include media-query($large-up) {
        display:block;
        width:100%;
        margin-bottom:$ms0/4;
	}
}