/*
 * Quotes
*/

.quotes-wrapper {
    position: relative;
    display:block;
    width:100%;
    @include clearfix();
}


.quotes-nav {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 30px;
    height: 30px;    
    cursor: pointer;
    outline:none;
    z-index:1;

    svg {
        width: 24px;
        height: 24px;
    }

    &.swiper-button-disabled {
        opacity:0.5;
    }

    @media all and (min-width: 1300px) {
        width: 27px;
        height: 44px;

        svg{
            width: 34px;
            height: 34px;
        }
    }
}
.quotes-nav--prev {
    float:left;
    left:-$ms2;
    
    @media all and (min-width: 1160px) {
        left:-$ms0 - .2em;
    }
    @media all and (min-width: 1300px) {
        left:-$ms5;
    }
    @media all and (min-width: 1400px) {
        left:-$ms7;
    }
}
.quotes-nav--next {
    right:-$ms2;

    @media all and (min-width: 1160px) {
        right:-$ms0 - .2em;
    }
    @media all and (min-width: 1300px) {
        right:-$ms5;
    }
    @media all and (min-width: 1400px) {
        right:-$ms6;
    }
}


.quote__content {
    position:relative;
    display:block;
    width:92%;
    max-width:345px;
    margin:0 auto $ms0;
    padding:$ms4 $ms0 $ms0;
    background-color:$color-brand3;
    box-shadow: -7px 7px 0 rgba(81, 157, 197, .4);

    @include media-query($small-up) {
        width:92%;
        padding:$ms5 $ms2 $ms1;
        margin-bottom:$ms2;
        box-shadow: -15px 15px 0 rgba(81, 157, 197, .4);
    }
}


.quotes {
    display:block;
    width:100%;
    padding-top:$ms3;
    @include clearfix();

    .quote:nth-of-type(2n+1),
    .quote:nth-of-type(2) {
        .quote__content {
            background-color:$color-brand4;
            box-shadow: -7px 7px 0 rgba(255, 203, 3, .4);

            @include media-query($small-up) {
                box-shadow: -15px 15px 0 rgba(255, 203, 3, .4);
            }
        }
        .quote__author { color:$color-brand4; }
    }

    .quote:nth-of-type(1) {
        .quote__content {
            background-color:$color-brand3;
            box-shadow: -7px 7px 0 rgba(81, 157, 197, .4);

            @include media-query($small-up) {
                box-shadow: -15px 15px 0 rgba(81, 157, 197, .4);
            }
        }
        .quote__author { color:$color-brand3; }
    }

    .quote:nth-of-type(3n) {
        .quote__content {
            background-color:$color-brand2;
            box-shadow: -7px 7px 0 rgba(248, 171, 173, .4);

            @include media-query($small-up) {
                box-shadow: -15px 15px 0 rgba(248, 171, 173, .4);
            }
        }
        .quote__author { color:$color-brand2; }
    }
}


.quote__image {
    position:absolute;
    top:-32px;
    left:50%;
    transform:translateX(-50%);
    width:64px;
    height:64px;
    @include border-radius(100%);
    overflow:hidden;
}


.quote__text {
    display:block;
    width:100%;
    margin:0;

   p { 
       color:$color-brand1; 
       text-align:center;
    
       &:last-of-type { margin-bottom:0; }

        @include media-query($medium-up) {
            font-size:$ms0 - .1em;
            line-height:$ms0 + .0825em;
        }
    }
}


.quote__author {
    display:block;
    width:100%;
    @include font-light;
    text-align:center;
    color:$color-brand3;
    font-style:normal;
}