/*
 * SectionSwap
 */

#section-swap-wrapper {
    position: relative;
    float:left;
    width:100%;
    @include clearfix();

    .shopify-section {
        display:block;
        width:100%;
        @include clearfix();        
    }

    .section {
        background-color:transparent !important;
    }
}

.section-swap-hide {
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
}

.section-swap-trigger {
    display:block;
    clear:both;
}