/*
 * SectionDecs
 *
 * Decoration elements for sections  
 */

.section__dec {
    position: absolute;
    display:block;

    svg {
        height:auto;
    }
}


// Home sections
.section__dec--home-section1 {
    top:-100px;
    left:30px;
    width:220px;
    z-index:1;

	@include media-query($medium-up) {
        width:400px;
    }
	@include media-query($large-up) {
        top:-220px;
        width:560px;
    }
	@include media-query($giant-up) {
        left:300px;
    }
}
.section__dec--home-section2 {
    bottom:-75px;
    left:30px;
    width:220px;
    z-index:1;
    opacity:1 !important;

	@include media-query($medium-up) {
        width:400px;
    }
	@include media-query($large-up) {
        bottom:-100px;
        width:500px;
    }
	@include media-query($widescreen) {
        width:600px;
    }
	@include media-query($giant-up) {
        left:300px;
    }
}
.section__dec--home-section3 {
    bottom:-75px;
    right:40px;
    width:220px;
    z-index:1;
    opacity:1 !important;

	@include media-query($medium-up) {
        left:20px;
        width:400px;
    }
	@include media-query($large-up) {
        bottom:-80px;
        width:500px;
    }
	@include media-query($widescreen) {
        width:600px;
    }
	@include media-query($giant-up) {
        left:400px;
    }
}




.section--product__hero--dec {
    top:20px;
    right:-60px;
    width:70%;
    height:auto;
    z-index:2;
    
	@include media-query($small-up) {
        width:60%;
    }
	@include media-query($medium-up) {
        top:0;
        right:-100px;
        width:50%;
    }
	@include media-query($large-up) {
        top:40px;
        width:38%;
    }
	@include media-query($widescreen) {
        width:30%;
    }
    @include media-query($giant-up) {
        width:24%;
    }
}


// Image 1
.section__dec--product1 { 
    top:-220px; 
    left:20%; 

    svg { 
        width:130px;
    }

    path { fill:$color-brand2; }

	@include media-query($small-up) {
        top:-270px; 
        left:15%;

        svg { 
            width:190px;
        }
    }    
	@include media-query($medium-up) {
        top:-330px; 
    }
    @include media-query($large-up) {
        top:-240px; 
        left:10%; 
    } 
	@media all and (min-width: 1200px) {
        top:-180px; 
        left:15%;
    }
    @include media-query($widescreen) {
        top:-160px; 
        left:18%; 
    }
}

// Image 2
.section__dec--product2 { 
    top:-110px; 
    left:-5%; 

    svg { 
        width:110px;
    }

    path { fill:$color-brand4; }

	@include media-query($small-up) {
        top:-130px; 
        left:-15%; 

        svg { 
            width:190px;
        }
    }
    @include media-query($large-up) {
        top:-100px; 
        left:-5%; 
    } 
    @media all and (min-width: 1200px) {
        top:-40px; 
        left:-3%; 
    }
    @include media-query($widescreen) {
        top:-120px; 
        left:-5%; 
     
        svg { 
            width:300px;
        }
    }
}

// Image 3
.section__dec--product3 { 
    bottom:10%; 
    right:-70px; 
    z-index:1;

    svg { 
        width:120px;
    }

    @include media-query($small-up) {
        bottom:20%;
        svg { 
            width:180px;
        }
    }   
    @include media-query($medium-up) {
        bottom:auto; 
        top:-40%;
        svg { 
            width:180px;
        }
    }   
    @include media-query($large-up) {
        top:auto;
        bottom:-14%; 
        right:auto;
        left:0;

        @include rotate(80deg);
    }
    @include media-query($widescreen) {
        bottom:-5%;
    }
}

// Image 4
.section__dec--product4 { 
    bottom:-7%;
    right:-50px; 
    z-index:1;

    svg { 
        width:140px;
    }

	@include media-query($small-up) {
        right:-100px; 

        svg { 
            width:220px;
        }
    }  
	@include media-query($large-up) {
        bottom:-16%;
        right:auto;        
        left:24%; 

        @include rotate(50deg);

        svg { 
            width:200px;
        }        
    }
    @include media-query($widescreen) {
        bottom:-9%;
        left:17%;
    }
}



// Faqs
.section__dec--faq {
    display:none;
    top:380px; 
    left:-150px; 
    width:500px;

    @include media-query($xlarge-up) {
        display:block;
    }
    @include media-query($widescreen) {
        left:-120px; 
        width:520px;
    }
    @include media-query($giant-up) {
        left:100px; 
    }
}


// Contact
.section__dec--contact {
    display:none;
    bottom:-3px; 
    left:0; 
    width:460px;

    @include media-query($xlarge-up) {
        display:block;
    }
    @include media-query($widescreen) {
        width:560px;
    }
    @include media-query($giant-up) {
        left:240px; 
    }
}