/*
 * Single Product
*/

.single-product {
	position: relative;
	display:flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
	width:100%;
	padding-top:$ms7;
	margin:0 auto;
	@include clearfix();

	@include media-query($medium-up) {
		margin-bottom:$ms4;
		max-width:1200px;
		padding:$ms-2 $ms2 0;
	}
}


/*Layout*/
.l-single-product-col {
	flex:1 0 auto;
	width:100%;

	@include media-query($large-up) {
		width:50%;
	}
}



.single-product__image {
	display:block;
	max-width:400px;
	margin:0 auto; 

	img { 
		display:block; 
		width:100%;
		height:auto;
	}

	@include media-query($medium-up) {
		position: absolute;
		top:20px;
		right:-50px;
		width:380px;
		max-width:none;
		z-index:0;
	}
	@media all and (min-width: 870px) {
		top:-30px;
		width:500px;
	}
	@include media-query($xlarge-up) {
		width:620px;
	}
	@include media-query($widescreen) {
		right:-30px;
		width:650px;
	}
}
.single-product__image--large {
	@include media-query($small-up) {
        width:400px;
	}
	@include media-query($large-up) {
		top:-80px;
		width:600px;
	}
	@include media-query($xlarge-up) {
		top:-100px;
		width:700px;
	}
	@include media-query($widescreen) {
        width:840px;
        right:-120px;
	}
	@include media-query($giant-up) {
		top:-140px;
		right:-160px;
		width:860px;
	}
}


.single-product__content {
	position: relative;
	float:left;
	width:100%;
	max-width:300px;
    z-index:2;

	@media all and (min-width: 400px) {
		max-width:400px;
	}
	@include media-query($medium-up) {
		margin-bottom:$ms3;
		max-width:480px;
	}
}


.single-product__title {
	display:block;
	max-width:170px;
	margin-bottom:0.2em;
	@include type-xlarge;
	color:$color-brand3;
	text-transform:lowercase;

	@media all and (min-width: 400px) {
		max-width:220px;
		@include type-giga;
	}
	@include media-query($medium-up) {
		max-width:340px;
		font-size:$ms5;
	}
	@include media-query($large-up) {
		max-width:400px;
		font-size:$ms6;
		line-height:$ms-1;
	}
	@include media-query($giant-up) {
		max-width:none;
	}
}

.single-product__subtitle {
	clear:both;
	display:block;
	max-width:200px;
	margin-bottom:$ms-6;
	@include type-small;
	color:$color-brand4;
	line-height:$ms0;
	text-transform:lowercase;

	@media all and (min-width: 400px) {
		max-width:260px;
		@include type-medium;
	}
	@include media-query($medium-up) {
		max-width:300px;
		@include type-large;
	}
	@include media-query($large-up) {
		@include type-giga;
		max-width:480px;
    }
}

.single-product__detail {
    margin-bottom:$ms3;
    @include font-light;
	@include type-xsmall;
	color:$color-brand5;
}


.single-product__price {
	display:block;
	width:100%;
	margin-bottom:$ms0*1.5;

	p { 
		margin-bottom:0;
		font-family:$font-heading; 
		font-weight:$font-body-bold-weight;
	}
}


.single-product__selection {
	float:left;
	width:100%;

	div span {
		margin-left:$ms-4;
        color:$color-brand2;
	}
}


// Sections
.single-product__section {
	position: relative;
	display:flex;
    -webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content:flex-start;
	width:100%;
	margin-bottom:$ms2;

	@include media-query($large-up) {
		justify-content:center;
		align-items:center;
		margin-bottom:0;
		overflow: hidden;
	}
}
.single-product__section--subscription {
	@include media-query($large-up) {
		align-items:top;
	}
}

.single-product__section1 {
	justify-content:flex-start;

	@include media-query($large-up) {
		flex-direction:row-reverse;
	}
}
.single-product__section2 {
	justify-content:flex-end;

	@include media-query($medium-up) {
		padding-bottom:$ms8;
	}
	@include media-query($large-up) {
		padding-bottom:0;
	}
}


.l-section-col {
	flex:1 0 auto;
	width:100%;

	@include media-query($large-up) { 
		width:50%;
	}
}


// Description & Images
.single-product__desc {
	position:relative;
	float:left;
	width:100%;
	padding:$ms2 $ms1 $ms3;
	max-width:320px;
	margin-top:$ms0;
	margin-bottom:$ms0;
    z-index:1;

	h1,h2,h3,h4,h5,p,a,li { color:$color-brand1; }
	h1,h2,h3,h4,h5 { text-transform:lowercase; }

	h3 { @include type-giga; }
	p { @include type-small; }
	p:last-of-type { margin-bottom:0; }

	p, li { font-size:0.925em; }

	ul {
		display:block;
		margin:0;
		padding-left:$ms0*1.25;
	}
	li {
		margin-bottom:$ms0/6;
	}

	@include media-query($small-up) { 
        max-width:460px; 
        padding-top:$ms5;
        padding-bottom: $ms5;
    }
	@include media-query($large-up) { 
        margin-top:0; 
        padding-top:0;
        padding-bottom: 0;
	}
}
.single-product__desc1 { 
	margin-top:-$ms2;
	background-color:$color-brand3;

	@media all and (min-width: 370px) { margin-right:$ms2; }
	@include media-query($large-up) { 
		margin:0;
		background-color:transparent; 

		h1,h2,h3,h4,h5,p,a,li { color:$color-body-text; }
	}
}
.single-product__desc2 { 
	float:right;
	background-color:$color-brand4;
	margin-top:-$ms2;

	@include media-query($large-up) { 
		float:none;
		margin-top:0;
		background-color:transparent; 
	
		h1,h2,h3,h4,h5,p,a,li { color:$color-brand4; }
	}
}
.single-product__desc--wide {
	@include media-query($small-up) { 
        margin-top:0;
        max-width:620px; 
    }
}



// Additional Product Images - floated left & right
.single-product__desc-img {
	position:relative;
	display:block;
	width:100%;
	max-width:280px;

	@include media-query($small-up) { max-width:440px; }
	@include media-query($large-up) { 
		margin:0;
		max-width:none;
	}
}
.single-product__desc-img1 { 
	@media all and (min-width: 370px) { margin-left:$ms8; }
	@include media-query($large-up) { margin:0; } 
}
.single-product__desc-img2 { 
	float:right;
	margin-top:-$ms4;

	@media all and (min-width: 370px) { margin-right:$ms8; }
	@include media-query($large-up) { float:none; margin:0; } 
}