/*
 * SingleArticle
*/

.single-article {
	display:block;
	width:100%;
	max-width:600px;
	margin:0 auto $ms0*2;
}


.single-article__image {
	display:block;
	width:100%;
	height:auto;
	margin-bottom:$ms-1;
}


.single-article__title {
	display:block;
	margin-bottom:$ms-2;
	border-bottom:1px solid $color-border;
	padding-bottom:$ms-2;
	margin-bottom:$ms0;
	font-size:1.4em;
	color:$color-body-text;
	text-decoration:none;
	text-transform:uppercase;	
	font-style:italic;
	text-align:center;
}


.single-article__body {
	display:block;
	width:100%;
	text-align:center;

	p { text-align:center; }
}