/*
 * Title
*/

.title {
    position:relative;
    text-transform:lowercase;
    text-align:left;

	@include media-query($small-up) {
        &:after {
            position:absolute;
            display:block;
            top:40%;
            left:0;
            content:'';
            width:100%;
            height:2px;
            transform:translateY(-50%);
        }
    }
    @include media-query($medium-up) {
        @include type-mega;
        line-height:$ms-1;
    } 
    @include media-query($large-up) {
        &:after {
            top:50%;
        }
    }
    
    .title__text {
        position:relative;
        display:inline-block;
        background-color:$color-brand1;
        z-index:1;

        svg,span {
            display:inline-block;
        }

        span { 
            position:relative;
            top:-6px;

            @include media-query($medium-up) {
                top:-7px;
            }
        }

        svg {
            width:100px;
            height:auto;
            margin-right:$ms-8 - .2em;

            @include media-query($medium-up) {
                width:160px;
                margin-right:$ms-8 - .025em;
            }
        }

        @include media-query($small-up) {
            padding:0 $ms-3 0 0;        
        }
    }
    
    .title__inline-text {
        display:inline-block;
    }
}

.title--space { 
    margin-bottom:$ms-4; 

    @include media-query($medium-up) {
        margin-bottom:$ms0; 
    } 
}

// Colours
.title--brand2 { 
    color:$color-brand2; 

    &:after { background-color:$color-brand2; }
}
.title--brand3 { 
    color:$color-brand3; 

    &:after { background-color:$color-brand3; }
}
.title--brand4 {
    color:$color-brand4; 

    &:after { background-color:$color-brand4; }
}