/*
 * Variants
 */
 
.variant-radios {
	float:left;
    width:100%;	
    margin-bottom:$ms0;

	@include media-query($large-up) {
        margin-bottom:$ms-2;
    }
}
.floating-cta__content .variant-radios {
	clear:none;
	float:left;
    width:auto;
    margin-bottom: 0;

    @media all and (min-width: 460px) {
        margin-top:$ms-5;
    }
}


.variant-radio {
    float:left;
    width:100%;
	margin-right:$ms-4;
    margin-bottom:$ms-2;

    label {
		margin-left:0;
		@include font-light;
		@include type-medium;
		color:$color-brand2;
		font-weight:100;

        @media all and (min-width: 460px) {
			float:left;
			@include type-large;
		}	
	}
	input { 
		margin-top:.1em;
		margin-bottom:0;
        float:left; 
        color:$color-brand2;
    }
    
    &:last-of-type { 
		margin-bottom:0; 
    }

	@include media-query($large-up) {
		clear:none;
        float:left;
        width:auto;
        margin-right:$ms2;
        margin-bottom:$ms-1;
        
        &:last-of-type { 
            margin-bottom:$ms-3;
        }
	}
}
.floating-cta__content .variant-radio {
    clear:both;
    margin-bottom:$ms-4;

    label {
        @media all and (min-width: 460px) {
            clear:none;
            @include type-small;
		}
        @include media-query($medium-up) {
            @include type-medium;
        }
    }

    @media all and (min-width: 460px) {
        clear:none;
        float:left; 
        width:auto;
        margin-right:$ms0;

        input { margin-bottom:0; }

        &:last-of-type { 
            margin-right:0;
        }
    }
    @include media-query($medium-up) {
        margin-top:$ms-8 - .05em;
        margin-right:$ms2;
    }
}


.variant-msg {
	display: inline-block;
    margin-left:$ms0;
    font-size: $ms-3;

	@include media-query($large-up) {
		margin-left:0;
	}
}
.floating-cta__content .variant-msg {
    display: none;
}