form {
  margin: 0;
}

.form--contact {
  float:left;
  width:100%;
  max-width:760px; 
  padding-top: $ms2;
  
  @include media-query($xlarge-up) {
    float:right;
    margin-top:$ms6;
    margin-right:$ms2;
  }
  @include media-query($widescreen) {
    margin-right:$ms6;
  }
  @include media-query($giant-up) {
    margin-right:0; 
    max-width:860px;
  }
}

.form--newsletter {
    margin-top:$ms0;
    
    @include media-query($medium-up) {
        margin-top:$ms2;
    }
}


a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

label {
  text-align:left;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  display:block;
  width:100%;
  padding:$ms-3;
  margin-bottom:$ms0;
  font-size: 1.6rem;
  color:$color-brand5;
  background-color:transparent;
  border:1px solid $color-brand2;
  border-radius: 0;
  text-align:left;
  outline:none;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

input[type='submit'],
label[for] {
  cursor: pointer;
}


textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}


.form__group {
  position:relative;
  clear:both;
  display:block;
  width:100%;
  margin-bottom:$ms-2;
}


.form__label {
  display:block;
  width:100%;
  margin-bottom:$ms-7;
  @include type-xsmall;
  color:$color-brand2;

  @include media-query($medium-up) {
    @include type-small;
	}	
}
.form__label--center {
  position:absolute;
  top:10px;
  left:0;
  z-index:0;
  @include font-light;
  font-size:$ms-3;
  text-align:center;
  transform:translateY(0);
  @include transition(.2s all ease);

  @media all and (min-width: 400px) {
    @include type-xsmall;
	}	 
  @include media-query($medium-up) {
    font-size:$ms-3;
  }	 
  @include media-query($large-up) {
    @include type-xsmall;
	}	 
}

.label-shift {
    transform:translateY(-34px);
    @include transition(.2s all ease);
}



input[type='email'].form__input--underline {
  position:relative;
  display:block;
  margin:0 auto;
  max-width: 320px;
  color:$color-brand2;
  text-align:center;
  border:0;
  border-bottom:1px solid $color-brand2;
  z-index:1;
}


// Custom Radio
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    display: inline-block;
    padding-left: 28px;
    line-height: 20px;
    color: $color-brand2;
    cursor: pointer;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    content: '';
    border: 1px solid $color-brand2;
    @include border-radius(100%);
    background: $color-brand1;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
    content: '';
    background: $color-brand2;
    @include border-radius(100%);
    @include transition();
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


// Mailchimp
.mce-success-response,
.mce-error-response {
    display: block;
    margin-bottom: $ms-2;
    text-align: center;
}
#mc_embed_signup div.mce_inline_error {
    display: block;
    padding-top:$ms-4;
    background-color: transparent !important;
    text-align: center !important;
    font-weight: normal !important;
    color:$color-brand3 !important;
    border:0 !important;
}
#mc_embed_signup input.mce_inline_error {
    border-color:$color-brand3;
}