html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
	height: 100%;
	background-color:$color-site-footer;

    &.popcart-active {
        overflow: hidden;
    }
}


.site-wrapper {
	float:left;
	width:100%;
	padding:0 $ms-2 $ms-2;
    background-color:$color-body;

	@include media-query($small-up) {
        padding:0 $ms0 $ms0;
	}

    // Borders for homepage sections
    &:before,
    &:after {
        position: fixed;
        left:0;
        display: block;
        content:'';
        width:100%;
        height:$ms-4;
        background-color:$color-brand1;
        @include transition(all .2s ease-in);
        z-index:2;

        @include media-query($small-up) {
            height:$ms0;
        }
    }
    &:before { top:0; transform: translateY(-100%); }
    &:after { bottom:0; transform: translateY(100%); }

    // Show when scroll past el -> see section-waypoints.js
    &.reveal {
        &:before,
        &:after { transform: translateY(0); }
    }
}


// Brand logo animation
.brand-o1,
.brand-o2 {
    @include transition(all .3s ease-out);
}
.hide .brand-o1 { transform: translateY(-30px); }
.hide .brand-o2 { transform: translateY(30px); }

.site-header .site-brand {
    &:hover { 
        .brand-o1 { transform: translateY(-11px); } 
    }
}  
.site-header .site-brand {
    &:hover { 
        .brand-o2 { transform: translateY(11px); } 
    }
}


.main {
	float:left;
	width:100%;
	overflow:hidden;
}


.container {
	display:block;
	margin:0 auto;
	padding:0 $ms3;
	width:100%;
	max-width:1700px;
    @include clearfix();
    
	@include media-query($medium-up) {
		padding:0 $ms4;
	} 
    @include media-query($xlarge-up) {
		padding:0 $ms0;
	}    
}
.container--relative { position:relative; }
.container--full { padding:0; }
.container--footer { max-width: 1300px; padding:0 $ms-4; }
.container--narrow { max-width: 1180px; }
.container--faqs,
.container--contact { 
    padding:0 $ms0; 

	@include media-query($small-up) {
        padding:0 $ms2; 
    }
	@include media-query($large-up) {
        padding:0;     
    }
}
.container--images {
	padding:0;

	@include media-query($small-up) {
		padding:0 $ms2;
	}
	@include media-query($large-up) {
		padding:0;
	}
}