/*
 * $Tables
 *
 */

table {
  width:100%;
  margin:0 0 $ms0;
  border-collapse:collapse;

  tr {
    border:0;
  }

  th, td {
    padding:$ms-6;
    text-align:left;
    border:1px solid $color-brand3;

    @include media-query($medium-up) {
      padding:$ms-2;
    }
  
  }  

  td {
    display:table-cell;
  }

  th { 
    display:table-cell;
  }

  th, td { 
    &:nth-of-type(n) {
      width:30%;
    }
  }

}