/*
 *
 * $Typography - Base font styles
 *
**/

#mfPreviewBar { display:none !important; }

/*Check _variables.scss for base vars and modular scale*/

/*Base font styles*/
$base-line-height-narrow: $ms0;
$base-line-height-wide: $ms0 + .0825em;
$base-line-height-giant: $ms0;
$base-font-alignment: left;

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3817f2");
  
@font-face {font-family: 'BrandonTextWeb-Bold';src: url('../webfonts/3817F2_0_0.eot');src: url('../webfonts/3817F2_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/3817F2_0_0.woff2') format('woff2'),url('../webfonts/3817F2_0_0.woff') format('woff'),url('../webfonts/3817F2_0_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonTextWeb-Regular';src: url('../webfonts/3817F2_1_0.eot');src: url('../webfonts/3817F2_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/3817F2_1_0.woff2') format('woff2'),url('../webfonts/3817F2_1_0.woff') format('woff'),url('../webfonts/3817F2_1_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonTextWeb-Medium';src: url('../webfonts/3817F2_2_0.eot');src: url('../webfonts/3817F2_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/3817F2_2_0.woff2') format('woff2'),url('../webfonts/3817F2_2_0.woff') format('woff'),url('../webfonts/3817F2_2_0.ttf') format('truetype');}
@font-face {font-family: 'apercu-mono-regular';src: url('../webfonts/apercu-mono-regular.eot');src: url('../webfonts/apercu-mono-regular.eot?#iefix') format('embedded-opentype'),url('../webfonts/apercu-mono-regular.woff') format('woff'),url('../webfonts/apercu-mono-regular.woff2') format('woff2'),url('../webfonts/apercu-mono-regular.ttf') format('truetype');font-weight: normal;font-style: normal;}

@mixin font-body { font-family:'BrandonTextWeb-Medium', 'Arial','san-serif'; }
@mixin font-light { font-family:'apercu-mono-regular', 'Arial','san-serif'; }

/* Common Text Sizes */
@mixin type-xsmall { font-size:$ms-2; }
@mixin type-small { font-size:$ms-1; }
@mixin type-medium { font-size:$ms0; }
@mixin type-large { font-size:$ms1; }
@mixin type-xlarge { font-size:$ms2; }
@mixin type-giga { font-size:$ms3;  }
@mixin type-mega { font-size:$ms5; }


/* ==================
 * Apply text styles
 * ==================*/

html {
  font-size: 70%;
}

body {
    font-family: $font-body; // font selected in Shopify settings
    @include font-body; // Make use of Webfont
    font-size: 1.6rem;
    font-size:$base-font-size--narrow;
    line-height:$base-line-height-narrow;
    font-weight: $font-body-weight;
    font-style: $font-body-style;
    color:$color-body-text;
    word-wrap:break-word;

    @include media-query($medium-up) {
      font-size:$base-font-size--wide;
      line-height:$base-line-height-wide;
    }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

p, a {
    margin:0 0 $ms0;
    padding:0;
    color:$color-body-text;
    text-align:$base-font-alignment;
    font-weight:$font-body-weight;
}

p a:visited,
p a:focus {
  color:inherit;
}


sub,
sup { @include type-xsmall; }

h1,h2,h3,h4,h5,h6 {
    padding:0;
    margin:0 0 $ms-6;
    line-height:$ms0;
    font-weight:$font-body-weight;

    a { font-weight:$font-body-weight; }
}

h1 { @include type-giga; line-height:$ms-1; }
h2 { @include type-xlarge; }
h3 { @include type-large; }
h4 { @include type-medium; }
h5 { @include type-medium; }
h6 { @include type-small; }

@include media-query($medium-up) {
    h1 { @include type-giga;  }
    h2 { @include type-xlarge; }
    h3 { @include type-large; }
    h4 { @include type-medium; }
}


ul,
ol { 
    padding:0;
    margin:0;
}
li { 
    padding:0;
    margin:0 0 $ms-7;
    line-height:$ms0;
}

strong {
    font-weight:$font-body-weight-bold;
}

hr {
    clear:both;
    display:block;
    height:1px;
    margin:$ms0 0;
    border:0;
    background-color:$color-brand3;
}
.hr--yellow { 
    border-top-color: $color-brand4;
    background-color:$color-brand4;
}

sub {
    line-height:$ms-2;
}