{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}
<div class="page-content">
  <article class="single-article" role="article" itemscope itemtype="http://schema.org/Article">

    {% if article.image %}
      <img class="single-article__image" src="{{ article.image || img_url: '900x'}}" alt="{{ article.image.alt | escape }}">      
    {% endif %}

    <header class="single-article__header" role="banner">
      <h1 class="single-article__title">{{ article.title }}</h1>
    </header>

    <div class="single-article__body" itemprop="articleBody">
      {{ article.content }}
    </div>

  </article>
</div>
