{% comment %}
  Article List Template
{% endcomment %}

<div class="page-content">
  {% paginate blog.articles by 8 %}

    {% comment %}
      Article Previews
      ====================
    {% endcomment %}

    <div class="articles">
      {% for article in blog.articles %}
        <div class="article">
          {% if article.image %}
            <a class="article__image" href="{{ article.url }}">
                <img src="{{ article.image || img_url: '600x'}}" alt="{{ article.image.alt | escape }}">
            </a>
          {% endif %}

          <h3 class="article__title">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h3>

          <div class="article__desc">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 22 }}</p>
            {% endif %}
          </div>
           
          <a class="button button--article" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
        </div>

      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
</div>