<section class="section"> 
  <div class="container container--narrow">
    <div class="cart"> 

      {% if cart.item_count > 0 %}
          <form action="/cart" method="post" novalidate>
            <div class="cart-items">

                {% for item in cart.items %}

                {% comment %}

                Cart Item Template
                =====================

                {% endcomment %}

                <div class="cart-item">
                    <div class="cart-item__image">
                        {% if item.image != blank %}
                            <a href="{{ item.url | within: collections.all }}">
                                {{ item | img_url: '400x400' | img_tag: item.title }}
                            </a>
                        {% endif %}
                    </div>

                    <div class="cart-item__details">
                        <h4 class="cart-item__title">
                            <a href="{{ item.url }}">{{ item.product.title }}</a>
                        </h4>

                        {% unless item.product.has_only_default_variant %}
                            <p class="cart-item__variant">{{ item.variant.title }}</p>
                        {% endunless %}

                        <p class="cart-item__price">
                            {% if item.original_line_price != item.line_price %}
                                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                                {{ item.price | money_without_trailing_zeros }}
                                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                                <s>{{ item.original_price | money_without_trailing_zeros }}</s>
                            {% endif %}

                            {{ item.line_price | money_without_trailing_zeros }}
                        </p>

                        <div class="cart-item__close">                       
                            <svg width="14px" height="14px" viewBox="0 0 14 14"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                    <g transform="translate(2.000000, 2.000000)" fill-rule="nonzero" stroke="#9B9B9B" stroke-width="2">
                                        <path d="M0,0 L10,10" id="Line-2"></path>
                                        <path d="M0,0 L10,10" id="Line-2-Copy" transform="translate(5.000000, 5.000000) scale(-1, 1) translate(-5.000000, -5.000000) "></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="cart__footer">
                {% if settings.cart_notes_enable %}
                    {% comment %} <label class="cart__notes-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea class="cart__notes-input" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea> {% endcomment %}
                {% endif %}          

                <div class="cart__totals">
                    <p class="cart__total-label">{{ 'cart.general.subtotal' | t }}</p>
                    <p class="cart__total-value">{{ cart.total_price | money }}</p>
                </div>

                {% if cart.total_discounts > 0 %}
                    <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                {% endif %}
            </div>

              {% comment %} <input class="cart__update" type="submit" name="update" value="{{ 'cart.general.update' | t }}"> {% endcomment %}
              <button class="cart__button" type="submit" name="checkout" class="button"><span>{{ 'cart.general.cart_continue' | t }}{{ 'cart.general.checkout' | t }}</span></button>      
          </form>
      {% else %}

          <h1 class="cart__title">{{ 'cart.general.title' | t }}</h1>

          {% comment %}
          Cart empty state
          {% endcomment %}
          <div class="cart__content supports-cookies">
              <p>{{ 'cart.general.empty' | t }}</p>
              <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
          </div>

          {% comment %}
          Cart no cookies state
          ---------------------
          Browser cookies are required to use the cart. If cookies aren't enabled in the
          browser a message is displayed prompting the user to enable them.
          {% endcomment %}
          <div class="cart__content supports-no-cookies">
              <p>{{ 'cart.general.cookies_required' | t }}</p>
          </div>

      {% endif %}

    </div>
  </div>
</section>