<section class="section section--tight section--pink">
    {% paginate collection.products by 20 %}
      <header class="products-header" role="banner">
        {% if collection.description != blank %}
          <div class="products-header__desc">
            {{ collection.description }}
          </div>
        {% endif %}

        {% if collection.all_tags.size > 0 %}
          <ul>
            {% for tag in collection.all_tags %}
              {% if current_tags contains tag %}
                <li class="active">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% else %}
                <li>
                  {{ tag | link_to_tag: tag }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </header>

      <div class="products">
        <div class="l-products">
          {% for product in collection.products %}
            <div class="l-product">
              <div class="js-clickable product product{{ forloop.index }}">
                {% if product.featured_image != blank %}
                  <a class="product__image" href="{{ product.url | within: collection }}">
                    <img src="{{ product.featured_image.src | img_url: '1200x' }}" alt="{{ product.featured_image.alt | escape }}">
                  </a>
                {% endif %}

                <div class="product__content">
                  <h3 class="product__title">
                    <a href="{{ product.url | within: collection }}">{% if forloop.index == 2 %}Subscription{% else %}single{% endif %}</a>
                  </h3>
                  <a href="{{ product.url | within: collection }}" class="product__price">
                    {% if product.available %}
                      <span>select</span>
                    {% endif %}

                    {% unless product.available %}
                      <span class="product__sold-out">{{ 'products.product.sold_out' | t }}</span>
                    {% endunless %}
                  </a>
                </div>

                <style>
                  @media all and (min-width: 1200px) {
                    .hero__pattern--top { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-tablet-top.png?3605716572509206142); }
                    .hero__pattern--bottom { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-tablet-bottom.png?3605716572509206142); }   
                    .hero__pattern--left { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-desktop-left.png?17379806627584242477); }
                    .hero__pattern--right { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/products-coral-desktop-right.png?16524872220297132757); }
                  }    
                </style>
                <div class="hero__patterns">
                  <div class="hero__pattern hero__pattern--top"></div>
                  <div class="hero__pattern hero__pattern--right"></div>
                  <div class="hero__pattern hero__pattern--left"></div>
                  <div class="hero__pattern hero__pattern--bottom"></div>
                </div>
              </div>
          </div>
        {% else %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            {% for i in (1..8) %}
              <a class="product__image" href="#">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              </a>

              <h3 class="product__title"><a href="#">{{ 'homepage.onboarding.product_title' | t }}</a></h3>

              <p class="product__price">
                {{ 1999 | money }}
              </p>
            {% endfor %}
          {% else %}
            <p>{{ 'collections.general.no_matches' | t }}</p>
          {% endif %}

        </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}
</section>
