<section class="section section--relative section--top">
	<div class="container container--faqs">

        <div class="l-col2">
            <div class="l-col2-col l-col2-col1">

                <div class="entry entry--page">
                    {{ page.content }}
                </div>

            </div>
            <div class="l-col2-col l-col2-col2">
               
                <ul class="faqs">
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            why is algae oil better than fish oil?
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>Fish simply eat a diet rich in algae in order to obtain Omega 3.</p>
                            <p>Over recent years, several health and environmental issues have highlighted the need to move to a more sustainable and cleaner alternative: </p>
                            <ul>
                                <li>Toxins: The sea has routinely become a dumping ground for industrial chemicals from factories worldwide. Whether from mercury, PCBs or more recently the discovery of microplastics. Consuming these toxins on a daily basis has a number of long-term health consequences. </li>
                                <li>By-catch: Commercial fishing nets span miles in length across the ocean. This means they catch a lot more than the intended fish. Hundreds of thousands of dolphins and whales are caught (and sadly suffocate) in these nets every year. This practice is tolerated by the fishing industry, under the term 'by-catch' or 'by-kill'. </li>
                                <li>Overfishing: Fish are a finite resource. The UN predicts that if we do not reduce our current fishing levels many parts of our ocean will simply run out of fish by 2050. Not only would this be bad for the fish, but also the thousands of species that rely upon fish as their food source. </li>
                            </ul>
                            <p>We grow our algae in pools of water. This means we don't disrupt any ocean food chains and we can be sure as to the purity of the water that the algae is grown in.</p>
                            <p>It’s simply cleaner, safer and more effective.</p>
                        </div>
                    </li>
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            Is Bloom suitable throughout pregnancy and breastfeeding? 
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>Yes. The importance of Omega 3 DHA and EPA on the developing brain is well-documented. However, women are often warned about consuming too much oily fish throughout pregnancy. This is due to the risk of the fish being contaminated with mercury (that can have a detrimental effect on the baby). </p>
                            <p>Algae however, does not contain mercury. So it is the perfect way to obtain the hugely beneficial Omega-3 without the risk of mercury. </p>
                        </div>
                    </li>
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            Is Bloom suitable for children? 
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>Yes, Bloom is suitable for all ages. There are a number of developmental effects that Omega-3 has on the development of children. If there any issues with swallowing softgels, we would recommend splitting open the softgel and pouring the oil into a drink or meal.</p>
                        </div>
                    </li>
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            How should I take Bloom?
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>We recommend 1-2 softgels per day, with food. </p>
                            <p>Please store your Bloom jar in a cool and dry place, away from direct sunlight. </p>
                        </div>
                    </li>
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            What are your delivery charges? 
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>Delivery in the UK is FREE. </p>
                            <p>Delivery outside of the UK is charged at a flat rate of £5. </p>
                        </div>
                    </li>
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            How long does delivery take (UK)? 
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>All orders are sent out using Royal Mail First Class. This typically takes 1-3 working days.</p>
                        </div>
                    </li>
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            How long does delivery take (International)? 
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>We dispatch our international orders using Royal Mail International Tracked. Delivery to Europe generally takes 5-7 days. Outside of Europe (such as the US, Canada, Australia, NZ, Russia, and the rest of the world) takes around 7-10 days.</p>
                        </div>
                    </li>
                    <li class="faq">
                        <h3 class="js-faq-trigger faq__title">
                            What is your refund policy? 
                            <div class="faq__trigger">
                                <span>
                                    <div class="accordion__plus">{% include 'icon-plus' %}</div>
                                    <div class="accordion__minus">{% include 'icon-minus' %}</div>
                                </span>
                            </div>
                        </h3>
                        <div class="js-faq-content faq__content">
                            <p>We have a 100% satisfaction guaratee. If you are unhappy with your product, we will refund you in full.</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

	</div>

  <img class="section__dec section__dec--faq" src="{{ 'coral-faq.png' | file_img_url: '900x996' }}" alt="Coral Decorations" />
</section>
