<section class="section section--relative section--top section--contact">
  <div class="container container--contact">

    <div class="l-col2">
      <div class="l-col2-col l-col2-col1">

          <div class="entry entry--page entry--contact">
              {{ page.content }}
          </div>

      </div>
      <div class="l-col2-col l-col2-col2">

      <div class="form--contact">
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="form__group">
              <label class="form__label" for="ContactFormName">{{ 'contact.form.name' | t }}</label>
              <input class="form__input" 
                type="text"
                name="contact[name]"
                id="ContactFormName"
                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>

            <div class="form__group">
            <label class="form__label" for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
            <input class="form__input" 
              type="email"
              name="contact[email]"
              id="ContactFormEmail"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
            </div>

            <div class="form__group">
              <label class="form__label" for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
              <textarea class="form__input"
                rows="10"
                name="contact[body]"
                id="ContactFormMessage">
                {% if form.body %}
                  {{ form.body }}
                {% endif %}
              </textarea>
            </div>

            <button class="button button--form" type="submit" id="Subscribe"><span>{{ 'contact.form.send' | t }}</span></button>

          {% endform %}
        </div>

      </div>
    </div>

  </div>

  <img class="section__dec section__dec--contact" src="{{ 'coral-contact.png' | file_img_url: '1100x501' }}" alt="Coral Decorations" />
</section>