<style>
  {{ settings.font_heading | font_face }}
  {{ settings.font_body | font_face }}

  {%- assign font_body_bold = settings.font_body | font_modify: 'weight', 'bolder' -%}
  {%- assign font_body_bold_italic = font_body_bold | font_modify: 'style', 'italic' -%}

  {{ font_body_bold | font_face }}
  {{ font_body_bold_italic | font_face }}

  :root {
    --color-brand1: {{ settings.color_brand1 }};
    --color-brand2: {{ settings.color_brand2 }};
    --color-brand3: {{ settings.color_brand3 }};
    --color-brand4: {{ settings.color_brand4 }};
    --color-brand5: {{ settings.color_brand5 }};
    --color-accent: {{ settings.color_accent }};
    --color-body-text: {{ settings.color_body_text }};
    --color-main-background: {{ settings.color_main_bg }};
    --color-border: {{ settings.color_accent }};
    --color-button: {{ settings.color_button }};
    --color-button-text: {{ settings.color_button_text }};
    --color-site-header: {{ settings.color_site_header }};
    --color-site-header-text: {{ settings.color_site_header_text }};
    --color-site-footer: {{ settings.color_site_footer }};
    --color-site-footer-text: {{ settings.color_site_footer_text }};

    --font-heading: {{ settings.font_heading.family }}, {{ settings.font_heading.fallback_families }};
    --font-body: {{ settings.font_body.family }}, {{ settings.font_body.fallback_families }};
    --font-body-weight: {{ settings.font_body.weight }};
    --font-body-style: {{ settings.font_body.style }};
    --font-body-bold-weight: {{ settings.font_body_bold.weight | default: '600' }};
  }
</style>
