<header class="popcart__header">
    <a class="popcart__title">
        My Bag           
        <svg width="23px" height="22px" viewBox="0 0 23 22" style="enable-background:new 0 0 23 22;" xml:space="preserve">
            <g transform="translate(-1500.000000, -41.000000)">
                <g transform="translate(1501.000000, 42.000000)">
                    <path style="fill:none;stroke:#F8ABAD;stroke-width:2;" d="M2.2,7.5h16.5c0.9,0,1.6,0.7,1.6,1.6
                        c0,0.2,0,0.3-0.1,0.5l-3,9.3c-0.2,0.7-0.8,1.1-1.5,1.1H5.2c-0.7,0-1.3-0.5-1.5-1.1l-3-9.3c-0.3-0.9,0.2-1.8,1-2
                        C1.9,7.5,2.1,7.5,2.2,7.5z"/>
                    <path style="fill:none;stroke:#F8ABAD;stroke-width:2;stroke-linecap:square;" d="M12.4,0.4l4.1,6.7"/>
                    <path style="fill:none;stroke:#F8ABAD;stroke-width:2;stroke-linecap:square;" d="M8.6,0.4L4.4,7.1"/>
                </g>
            </g>
        </svg>
    </a>

    <a class="js-popcart-close popcart__close">Close</a>
</header>

<form action="/cart" method="post" novalidate>
    <div class="{% if cart.item_count > 0 %}js-cart-hide{% endif %} popcart__body">
            {% comment %}
                Cart empty state
            {% endcomment %}
            <div class="js-cart-empty cart__message cart__message--hidden supports-cookies">
                <p>{{ 'cart.general.empty' | t }}</p>
            </div>

            {% comment %}
            Cart no cookies state
            ---------------------
            Browser cookies are required to use the cart. If cookies aren't enabled in the
            browser a message is displayed prompting the user to enable them.
            {% endcomment %}
            <div class="cart__message supports-no-cookies">
                <p>{{ 'cart.general.cookies_required' | t }}</p>
            </div>

        <div class="js-cart-items cart-items">

            {% comment %}

            Cart Item Template
            =====================

            {% endcomment %}

            {% for item in cart.items %}

              <div class="cart-item">
                <div class="cart-item__image">
                    {% if item.image != blank %}
                        <a href="{{ item.url | within: collections.all }}">
                            {{ item | img_url: '400x400' | img_tag: item.title }}
                        </a>
                    {% endif %}
                </div>

                <div class="cart-item__details">
                    <h4 class="cart-item__title">
                        <a href="{{ item.url }}">{{ item.product.title }}</a>
                    </h4>

                    {% unless item.product.has_only_default_variant %}
                        <p class="cart-item__variant">{{ item.variant.title }}</p>
                    {% endunless %}

                    <div class="cart-item__price">
                        {% if item.original_line_price != item.line_price %}
                            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                            {{ item.price | money_without_trailing_zeros }}
                            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                            <s>{{ item.original_price | money_without_trailing_zeros }}</s>
                        {% endif %}

                        {{ item.line_price | money_without_trailing_zeros }} x <span class="js-cart-item-quantity">{{ item.quantity }}</span>
                    </div>

                    <div class="js-cart-item-remove cart-item__close" data-id="{{ item.id }}">
                        <svg width="14px" height="14px" viewBox="0 0 14 14"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <g transform="translate(2.000000, 2.000000)" fill-rule="nonzero" stroke="#9B9B9B" stroke-width="2">
                                    <path d="M0,0 L10,10" id="Line-2"></path>
                                    <path d="M0,0 L10,10" id="Line-2-Copy" transform="translate(5.000000, 5.000000) scale(-1, 1) translate(-5.000000, -5.000000) "></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="cart__footer">
        {% if settings.cart_notes_enable %}
            {% comment %} <label class="cart__notes-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea class="cart__notes-input" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea> {% endcomment %}
        {% endif %}          

        <div class="cart__totals">
            <p class="cart__total-label">{{ 'cart.general.subtotal' | t }}</p>
            <p class="js-cart-total cart__total-value">{{ cart.total_price | money_without_trailing_zeros }}</p>
        </div>

        {% if cart.total_discounts > 0 %}
            <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money_without_trailing_zeros }}</p>
        {% endif %}
    </div>

    {% comment %} <input class="cart__update" type="submit" name="update" value="{{ 'cart.general.update' | t }}"> {% endcomment %}
    <button class="cart__button" type="submit" name="checkout" class="button"><span>{{ 'cart.general.cart_continue' | t }}{{ 'cart.general.checkout' | t }}</span></button>      
</form>
