{% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
        <div id="Quotes-{{ section.id }}" class="swiper-container js-carousel quotes" data-count="{{ section.blocks.size }}">
            <div class="swiper-wrapper">

                {% for block in section.blocks %}
                    <div class="swiper-slide quote" {{ block.shopify_attributes }}>
                    
                        <div class="quote__content">
                            {% if block.settings.image != blank %}
                                <div class="quote__image">
                                    {% include 'responsive-image' with
                                        image: block.settings.image,
                                        max_width: 300,
                                        max_height: 300
                                    %}
                                </div>
                            {% endif %}

                            {% if block.settings.quote != blank %}
                            <blockquote class="quote__text">{{ block.settings.quote }}</blockquote>
                            {% endif %}
                        </div>

                        {% if block.settings.author != blank %}
                            <cite class="quote__author">{{ block.settings.author | escape }}</cite>
                        {% endif %}              

                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="quotes-nav quotes-nav--prev">
            <svg width="34px" height="34px" viewBox="0 0 34 34">
                <g transform="translate(-83.000000, -6157.000000)" fill="#519DC5">
                    <g transform="translate(83.000000, 5870.000000)">
                        <path d="M19.3725939,287.862236 C18.2245184,286.712588 16.2476268,286.712588 15.0995514,287.862236 C13.9514759,289.010312 13.9514759,290.872396 15.0995514,292.020471 L24.0781305,301.000623 L2.44870341,301.000623 C0.824098001,301.000623 0,302.316978 0,303.941583 C0,305.567762 1.31635501,306.882544 2.94096043,306.882544 L24.0781305,306.882544 L15.0995514,315.862696 C13.9514759,317.009198 13.9514759,318.872855 15.0995514,320.020931 C16.2476268,321.170579 18.1081381,321.170579 19.259359,320.020931 L33.1416358,306.138654 C33.7439823,305.536307 34.0270694,304.7358 33.997188,303.947874 C34.0317875,303.153658 33.7471277,302.351578 33.1416358,301.744513 L19.3725939,287.862236 Z" id="Fill-1-Copy" transform="translate(17.000000, 303.941583) scale(-1, 1) translate(-17.000000, -303.941583) "></path>
                    </g>
                </g>
            </svg>
        </div>
        <div class="quotes-nav quotes-nav--next">
            <svg width="34px" height="34px" viewBox="0 0 34 34">
                <g transform="translate(-1482.000000, -6157.000000)" fill="#519DC5">
                    <g transform="translate(83.000000, 5870.000000)">
                        <path d="M1418.37259,287.862236 C1417.22452,286.712588 1415.24763,286.712588 1414.09955,287.862236 C1412.95148,289.010312 1412.95148,290.872396 1414.09955,292.020471 L1423.07813,301.000623 L1401.4487,301.000623 C1399.8241,301.000623 1399,302.316978 1399,303.941583 C1399,305.567762 1400.31636,306.882544 1401.94096,306.882544 L1423.07813,306.882544 L1414.09955,315.862696 C1412.95148,317.009198 1412.95148,318.872855 1414.09955,320.020931 C1415.24763,321.170579 1417.10814,321.170579 1418.25936,320.020931 L1432.14164,306.138654 C1432.74398,305.536307 1433.02707,304.7358 1432.99719,303.947874 C1433.03179,303.153658 1432.74713,302.351578 1432.14164,301.744513 L1418.37259,287.862236 Z" id="Fill-1-Copy-2"></path>
                    </g>
                </g>
            </svg>            
        </div>    
    </div>  
{% endif %}

{% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
{% endif %}