/*
 *
 * 2 Columns
 *
 *   <div class="l-col2">
 *      <div class="l-col2-col l-col2-col1"></div>
 *      <div class="l-col2-col l-col2-col2"></div>
 *   </div>
 *
**/

$wrapper: 1280;

/* 2 column */
.l-col2 {
    @include clearfix();
}

.l-col2-col {
    float:left;
    width:100%;
}

@include media-query($xlarge-up) {

    /* Default columns */
    $col2_gutter: 100;
    $col1: ($wrapper - $col2_gutter) / 3.5;
    $col2: ($wrapper - $col2_gutter) - $col1;
    .l-col2 {
        margin:0 auto;
        width:100%;
    }

    .l-col2-col1 {
        width:$col1 / $wrapper * 100%;
    }
    .l-col2-col2 {
        width:$col2 / $wrapper * 100%;
        margin-left:$col2_gutter / $wrapper * 100%;
    }

}