<footer class="site-footer">
  <div class="container container--footer">

    {% if section.settings.logo_footer != blank %}
      <img class="site-footer__brand" src="{{ section.settings.logo_footer | img_url: '800x' }}" 
          alt="{{ section.settings.logo_footer.alt }}"
          itemprop="logo_footer">
    {% endif %}
    
    <div class="site-footer__cols">
      {%- assign footer_linklist1 = section.settings.footer_linklist1 -%}
      {% if linklists[footer_linklist1].links.size > 0 %}
        <div class="site-footer__col site-footer__col1">
          <ul class="site-footer__list">
            {% for link in linklists[footer_linklist1].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="site-footer__col site-footer__col2">

        <div class="form--newsletter">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://bloomomega.us7.list-manage.com/subscribe/post?u=a5343b8ebc5b78166e5e86b7a&amp;id=9b9ff14a6d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    
                        <div class="mc-field-group form__group">
                            <label class="js-mc-label form__label form__label--center" for="mce-EMAIL">Subscribe to our mailing list</label>                           
                            <input class="js-mc-input form__input form__input--underline required email" type="email" value="" name="EMAIL" id="mce-EMAIL">
                        </div>

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_a5343b8ebc5b78166e5e86b7a_9b9ff14a6d" tabindex="-1" value="">
                        </div>
                            
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button--footer"><span>Subscribe</span></button>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>

      </div>

      {%- assign footer_linklist2 = section.settings.footer_linklist2 -%}
      {% if linklists[footer_linklist2].links.size > 0 %}
        <div class="site-footer__col site-footer__col3">
          <ul class="site-footer__list">
            {% for link in linklists[footer_linklist2].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist1",
        "label": "First menu"
      },
      {
        "type": "link_list",
        "id": "footer_linklist2",
        "label": "Second menu"
      },
      {
        "type": "image_picker",
        "id": "logo_footer",
        "label": "Footer Logo"
      } 
    ]
  }

{% endschema %}
