{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  <header role="site-header" class="js-site-header site-header {% if template == 'index' %} site-header--home {% endif %}">
    <div class="container container--relative container--full">
        <a class="js-nav-trigger site-nav-cta">
          Menu
          <span class="lines-button x">
              <span class="lines"></span>
          </span>
        </a>

        <a href="/" itemprop="url" class="site-brand">
          {% if section.settings.logo != blank %}
            {% include 'logo-brand' %}
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>

        <div class="js-nav-body site-header__items">
          {% if shop.customer_accounts_enabled %}
            <ul>
            {% if customer %}
                <li>
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                </li>
                <li>
                  {{ 'layout.customer.log_out' | t | customer_logout_link }}
                </li>
              {% else %}
                <li>
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                </li>
                <li>
                  {{ 'layout.customer.create_account' | t | customer_register_link }}
                </li>
              {% endif %}
            </ul>
          {% endif %}

          <nav class="site-nav" role="navigation">
            <ul>
              {% for link in linklists[section.settings.menu].links %}
                  <li class="site-nav__item {% if link.active or link.active contains 'collection' %}site-nav__item--current{% endif %}">
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </li>
              {% endfor %}
            </ul>
          </nav>
        </div>

        <a class="js-popcart-open cart-trigger" href="/cart">
          <span>My Bag</span>
          <svg width="23px" height="22px" viewBox="0 0 23 22" xml:space="preserve">
            <g transform="translate(-1500.000000, -41.000000)">
                <g transform="translate(1501.000000, 42.000000)">
                  <path style="fill:none;stroke:#F8ABAD;stroke-width:2;" d="M2.2,7.5h16.5c0.9,0,1.6,0.7,1.6,1.6
                    c0,0.2,0,0.3-0.1,0.5l-3,9.3c-0.2,0.7-0.8,1.1-1.5,1.1H5.2c-0.7,0-1.3-0.5-1.5-1.1l-3-9.3c-0.3-0.9,0.2-1.8,1-2
                    C1.9,7.5,2.1,7.5,2.2,7.5z"/>
                  <path style="fill:none;stroke:#F8ABAD;stroke-width:2;stroke-linecap:square;" d="M12.4,0.4l4.1,6.7"/>
                  <path style="fill:none;stroke:#F8ABAD;stroke-width:2;stroke-linecap:square;" d="M8.6,0.4L4.4,7.1"/>
                </g>
            </g>
          </svg>
        </a>
    </div>
  </header>
</section>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}