{%- comment -%}
  This is available when you add the "Hero" section in the theme editor.
{%- endcomment -%}

<div class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      {% if section.settings.title_image != blank %}

          <div class="hero__title">
            {% include 'logo-brand' %}
          </div>

      {% else %}
        {% if section.settings.title != blank %}

          <h1 class="hero__title">
            {{ section.settings.title | escape }}
          </h1>

        {% endif %}
      {% endif %}

      {% if section.settings.subtitle != blank %}
        <h2 class="hero__subtitle">{{ section.settings.subtitle }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="hero__text">
          {{ section.settings.text }}
        </div>
      {% endif %}

      <div class="hero__buttons">
        {% if section.settings.button1_label != blank and section.settings.button1_link != blank %}
          <a class="button button--inline" href="{{ section.settings.button1_link }}">
            <span>{{ section.settings.button1_label | escape }}</span>
          </a>
        {% endif %}
        {% if section.settings.button2_label != blank and section.settings.button2_link != blank %}
          <a class="button button--inline" href="{{ section.settings.button2_link }}">
            <span>{{ section.settings.button2_label | escape }}</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

    <div class="hero__image">
      <img src="{{ 'product-hero.jpg' | file_img_url: '1600x' }}" alt="bloom single item" />
    </div>     


  <style>
    .hero__pattern--top { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-mobile-top.png?3605716572509206142); }
    .hero__pattern--left { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-mobile-left.png?7388260621286296323); }
    .hero__pattern--right { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-mobile-right.png?7388260621286296323); }
    .hero__pattern--bottom { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-mobile-bottom.png?3605716572509206142); }

    @media all and (min-width: 420px) {
      .hero__pattern--top { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-tablet-top.png?3605716572509206142); }
      .hero__pattern--bottom { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-tablet-bottom.png?3605716572509206142); }   
    }
    @media all and (min-width: 900px) {
      .hero__pattern--left { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-tablet-left.png?3605716572509206142); }
      .hero__pattern--right { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-tablet-right.png?3605716572509206142); }
    }
    @media all and (min-width: 1200px) {
      .hero__pattern--top { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-desktop-top.png?398128212403120782); }
      .hero__pattern--left { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-desktop-left.png?17379806627584242477); }
      .hero__pattern--right { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-desktop-right.png?17379806627584242477); }
      .hero__pattern--bottom { background-image:url(https://cdn.shopify.com/s/files/1/0030/9942/6883/files/hero-coral-desktop-bottom.png?17379806627584242477); }   
    }    
  </style>
  <div class="hero__patterns">
    <div class="hero__pattern hero__pattern--top"></div>
    <div class="hero__pattern hero__pattern--right"></div>
    <div class="hero__pattern hero__pattern--left"></div>
    <div class="hero__pattern hero__pattern--bottom"></div>
 </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "title_image",
        "label": "Title Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Main title here"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub-Title",
        "default": "Secondary title here"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button1_label",
        "label": "Button 1 label"
      },
      {
        "type": "url",
        "id": "button1_link",
        "label": "Button 1 link"
      },
      {
        "type": "text",
        "id": "button2_label",
        "label": "Button 2 label"
      },
      {
        "type": "url",
        "id": "button2_link",
        "label": "Button 2 link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}
