{%- comment -%}
  This is available when you add the "Icon Blocks" section in the theme editor.
{%- endcomment -%}

<section class="section section--space-top">
    <div class="container container--narrow">

        <h2 class="title title--brand2 title--space">
            <span class="title__text">{% include 'logo-brand' %} <span>is&hellip;</span></span>
        </h2>

    </div>

    <div class="container">
        <div class="icon-blocks">
            <div class="l-icon-block l-icon-block--large">
                <div class="icon-block icon-block--large icon-block--color-brand2">
                    <svg width="60px" height="60px" viewBox="0 0 60 60">
                        <path d="M30.105,0.415833333 C13.705,0.415833333 0.413333333,13.7075 0.413333333,30.1075 C0.413333333,46.4991667 13.705,59.7908333 30.105,59.7908333 C46.4966667,59.7908333 59.7966667,46.4991667 59.7966667,30.1075 C59.7966667,13.7075 46.4966667,0.415833333 30.105,0.415833333 M30.105,3.74916667 C44.6383333,3.74916667 56.4633333,15.5658333 56.4633333,30.1075 C56.4633333,44.6408333 44.6383333,56.4575 30.105,56.4575 C15.5716667,56.4575 3.74666667,44.6408333 3.74666667,30.1075 C3.74666667,15.5658333 15.5716667,3.74916667 30.105,3.74916667" id="Fill-1"></path>
                        <polygon points="10.8425 51.295 8.48416667 48.9366667 48.4091667 9.00333333 50.7758333 11.3616667"></polygon>
                        <path d="M41.9866667,30.6158333 C42.4783333,30.6158333 42.9616667,30.4325 43.3366667,30.0575 C44.0783333,29.3075 44.0783333,28.0908333 43.3366667,27.3491667 C42.9783333,26.9825 42.495,26.7908333 41.9866667,26.7908333 C41.47,26.7908333 40.995,26.9825 40.6283333,27.3491667 C39.895,28.0991667 39.895,29.3158333 40.6366667,30.0575 C41.0033333,30.4325 41.495,30.6158333 41.9866667,30.6158333" id="Fill-6"></path>
                        <path d="M33.5716667,35.2225 C33.7883333,35.4308333 34.0716667,35.5558333 34.3716667,35.5558333 C34.68,35.5558333 34.9633333,35.4308333 35.18,35.2225 C35.3966667,35.0141667 35.5133333,34.7141667 35.5133333,34.4141667 C35.5133333,34.1141667 35.3966667,33.8308333 35.18,33.6225 C33.1383333,31.5808333 33.1383333,28.2558333 35.18,26.2225 C35.6216667,25.7725 35.6216667,25.0558333 35.18,24.6141667 C34.7466667,24.1808333 34.005,24.1808333 33.5716667,24.6141667 C30.6716667,27.5058333 30.6466667,32.2058333 33.4883333,35.1308333 L33.5716667,35.2225 Z" id="Fill-8"></path>
                        <path d="M30.0808333,34.6766667 C30.3725,34.6766667 30.6641667,34.56 30.8808333,34.3433333 C31.3225,33.9016667 31.3225,33.1766667 30.8891667,32.7433333 C29.3308333,31.185 29.3308333,28.6516667 30.8891667,27.0933333 C31.3308333,26.6516667 31.3225,25.9266667 30.8808333,25.485 C30.4391667,25.0516667 29.7225,25.0516667 29.2808333,25.485 C28.0975,26.6683333 27.4475,28.2433333 27.4475,29.9183333 C27.4475,31.5933333 28.0975,33.16 29.2808333,34.3433333 C29.4975,34.56 29.7891667,34.6766667 30.0808333,34.6766667" id="Fill-10"></path>
                        <path d="M14.8825,30.795 C15.1491667,30.5866667 15.2991667,30.2616667 15.2991667,29.92 C15.2991667,29.5783333 15.1491667,29.2533333 14.8825,29.0366667 C13.5408333,27.9366667 13.2991667,25.8783333 13.2825,24.6366667 C15.1658333,24.945 17.2658333,26.0616667 18.0241667,28.4033333 C18.0991667,28.6283333 18.1741667,29.1533333 18.1741667,29.9283333 C18.1741667,30.6866667 18.0991667,31.2033333 18.0241667,31.4283333 C17.2658333,33.7783333 15.1658333,34.895 13.2825,35.195 C13.2908333,33.9616667 13.5325,31.9033333 14.8825,30.795 M20.4408333,29.9283333 C20.4408333,29.57 20.4325,28.9033333 20.3241667,28.295 C23.5825,23.8533333 28.3241667,21.3116667 33.3491667,21.3116667 C39.0075,21.3116667 44.2575,24.52 47.4491667,29.92 C44.2575,35.3116667 39.0075,38.5283333 33.3491667,38.5283333 C28.3241667,38.5283333 23.5908333,35.9783333 20.3241667,31.5366667 C20.4325,30.9283333 20.4408333,30.2783333 20.4408333,29.9283333 M31.0991667,18.395 C32.2158333,18.445 33.2825,18.67 34.3075,19.07 C30.7658333,18.8616667 27.2491667,19.7783333 24.1575,21.6783333 C24.0408333,21.2366667 23.8575,20.8616667 23.6575,20.57 C25.3325,19.4283333 28.1158333,18.2616667 31.0991667,18.395 M29.0408333,40.245 C28.4741667,40.7283333 27.8658333,41.07 27.2658333,41.2033333 C27.0325,41.2616667 26.4658333,41.3533333 26.1741667,41.0616667 C25.9158333,40.795 25.8825,40.1116667 26.2825,39.2866667 C27.1741667,39.6783333 28.0991667,40.0033333 29.0408333,40.245 M49.7575,29.37 C47.4741667,25.2283333 44.1575,22.145 40.1658333,20.445 C37.6325,17.7283333 34.6241667,16.2783333 31.1991667,16.12 C27.0991667,15.9283333 23.2158333,17.7616667 21.1658333,19.6533333 C20.8908333,19.9033333 20.7658333,20.2783333 20.8158333,20.6533333 C20.8825,21.0283333 21.1158333,21.345 21.4408333,21.5033333 C21.4741667,21.52 22.1658333,21.92 21.9991667,23.2283333 C21.0408333,24.02 20.1408333,24.92 19.3158333,25.9033333 C17.5741667,23.245 14.4658333,22.2783333 12.1991667,22.2783333 C11.6325,22.2783333 11.1491667,22.695 11.0741667,23.2616667 C11.0575,23.4283333 10.5575,27.3283333 12.5825,29.92 C10.5575,32.5033333 11.0575,36.4033333 11.0741667,36.57 C11.1491667,37.1366667 11.6325,37.5616667 12.2075,37.5616667 C14.4658333,37.5616667 17.5741667,36.5866667 19.3158333,33.9283333 C20.7658333,35.67 22.4241667,37.1116667 24.2658333,38.2283333 C23.4325,39.9283333 23.5325,41.6366667 24.5658333,42.67 C25.1325,43.2366667 25.9075,43.5366667 26.7908333,43.5366667 C27.1075,43.5366667 27.4408333,43.495 27.7741667,43.4283333 C28.8741667,43.17 29.9908333,42.52 30.9158333,41.595 C31.1908333,41.3366667 31.4408333,41.0366667 31.6741667,40.7116667 C32.2575,40.77 32.8075,40.795 33.3491667,40.795 C40.0575,40.795 46.1825,36.9283333 49.7575,30.4616667 C49.9408333,30.12 49.9408333,29.7116667 49.7575,29.37" id="Fill-12"></path>
                        <path d="M25.78,33.7733333 C26.0883333,33.7733333 26.3716667,33.6566667 26.5883333,33.44 C26.805,33.2316667 26.9216667,32.94 26.9216667,32.6316667 C26.9216667,32.3316667 26.805,32.0483333 26.5883333,31.84 C25.53,30.7816667 25.53,29.0566667 26.5883333,27.9983333 C26.805,27.7816667 26.9216667,27.4983333 26.9216667,27.1983333 C26.9216667,26.89 26.805,26.6066667 26.5883333,26.39 C26.1383333,25.9566667 25.4216667,25.9566667 24.98,26.39 C24.0383333,27.3316667 23.5216667,28.5816667 23.5216667,29.915 C23.5216667,31.2483333 24.0383333,32.5066667 24.98,33.44 C25.1966667,33.6566667 25.48,33.7733333 25.78,33.7733333" id="Fill-14"></path>
                    </svg>
                    <p>Vegan</p>
                </div>
            </div>
            <div class="l-icon-block l-icon-block--large">
                <div class="icon-block icon-block--large icon-block--color-brand2">
                    <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M30.105,0.415833333 C13.705,0.415833333 0.413333333,13.7075 0.413333333,30.1075 C0.413333333,46.4991667 13.705,59.7908333 30.105,59.7908333 C46.4966667,59.7908333 59.7966667,46.4991667 59.7966667,30.1075 C59.7966667,13.7075 46.4966667,0.415833333 30.105,0.415833333 M30.105,3.74916667 C44.6383333,3.74916667 56.4633333,15.5658333 56.4633333,30.1075 C56.4633333,44.6408333 44.6383333,56.4575 30.105,56.4575 C15.5716667,56.4575 3.74666667,44.6408333 3.74666667,30.1075 C3.74666667,15.5658333 15.5716667,3.74916667 30.105,3.74916667" id="Fill-1"></path>
                        <path d="M29.5841667,40.17 C26.9258333,40.17 20.9591667,34.0366667 19.2675,30.7533333 C17.7841667,27.6866667 18.6675,23.945 21.2675,22.245 C22.0258333,21.7533333 22.8925,21.5033333 23.7758333,21.5033333 C24.1425,21.5033333 24.5091667,21.5533333 24.8758333,21.6366667 C26.1841667,21.9366667 27.3925,22.8533333 28.1841667,24.1366667 C28.4841667,24.6533333 29.0008333,24.945 29.5841667,24.945 C30.1758333,24.945 30.6758333,24.6616667 30.9841667,24.1366667 C31.7758333,22.8533333 32.9758333,21.9366667 34.2925,21.6366667 C35.5008333,21.3283333 36.8258333,21.5616667 37.9008333,22.245 C40.5675,23.995 41.4758333,27.8033333 39.9008333,30.7533333 C38.2008333,34.045 32.2341667,40.17 29.5841667,40.17 M39.7008333,19.4366667 C37.9008333,18.295 35.8925,17.895 33.5841667,18.3366667 C32.0508333,18.745 30.7758333,19.445 29.5841667,20.5366667 C28.4508333,19.4116667 27.0175,18.62 25.5758333,18.3366667 C23.4925,17.8366667 21.2508333,18.2366667 19.4675,19.4366667 C15.4258333,22.0616667 13.9925,27.82 16.2591667,32.2533333 C17.9758333,35.6783333 24.7425,43.47 29.4841667,43.47 L29.5841667,43.47 C34.3758333,43.47 41.1758333,35.5116667 42.9008333,32.2533333 C45.1758333,27.8116667 43.7425,22.0616667 39.7008333,19.4366667" id="Fill-4"></path>
                    </svg>
                    <p>For healthy heart &amp; brain</p>
                </div>
            </div>
            <div class="l-icon-block l-icon-block--large">
                <div class="icon-block icon-block--large icon-block--color-brand2">
                    <svg width="60px" height="60px" viewBox="0 0 60 60">
                        <path d="M30.1041667,0.415833333 C13.7125,0.415833333 0.4125,13.7075 0.4125,30.1075 C0.4125,46.4991667 13.7125,59.7908333 30.1041667,59.7908333 C46.5041667,59.7908333 59.7958333,46.4991667 59.7958333,30.1075 C59.7958333,13.7075 46.5041667,0.415833333 30.1041667,0.415833333 M30.1041667,3.74916667 C44.6375,3.74916667 56.4625,15.5658333 56.4625,30.1075 C56.4625,44.6408333 44.6375,56.4575 30.1041667,56.4575 C15.5708333,56.4575 3.74583333,44.6408333 3.74583333,30.1075 C3.74583333,15.5658333 15.5708333,3.74916667 30.1041667,3.74916667" id="Fill-1"></path>
                        <path d="M25.9291667,34.1725 C26.2125,34.4475 26.5875,34.5975 26.9791667,34.5975 C27.3708333,34.5891667 27.7458333,34.4225 28.0208333,34.1475 C28.2958333,33.8641667 28.4458333,33.4891667 28.4375,33.0891667 C28.4291667,32.7058333 28.2791667,32.3391667 28.0041667,32.0641667 C28.0041667,32.0641667 27.9958333,32.0558333 27.9958333,32.0558333 L24.0958333,28.2641667 C24.3458333,27.9141667 24.5875,27.5641667 24.8375,27.2308333 L28.8708333,31.1475 C29.1541667,31.4225 29.5291667,31.5725 29.9208333,31.5725 C30.3208333,31.5641667 30.6875,31.4058333 30.9625,31.1225 C31.2375,30.8391667 31.3875,30.4641667 31.3791667,30.0725 C31.3791667,29.6725 31.1791667,29.2891667 30.9375,29.0308333 L26.7125,24.9225 C26.9375,24.6641667 27.1541667,24.4225 27.3875,24.1891667 C27.4541667,24.1225 27.5125,24.0641667 27.5708333,23.9975 L31.8125,28.1225 C32.0958333,28.4058333 32.4708333,28.5475 32.8708333,28.5475 C33.2625,28.5391667 33.6291667,28.3808333 33.9041667,28.0975 C34.1791667,27.8141667 34.3291667,27.4391667 34.3208333,27.0475 C34.3208333,26.6558333 34.1208333,26.2725 33.8791667,26.0141667 L29.7541667,21.9975 C33.9125,18.6475 35.5375,20.2225 37.5708333,22.2058333 C39.9458333,24.5141667 41.8125,26.3391667 35.8708333,32.4391667 C30.1708333,38.2891667 20.1208333,42.5558333 17.2375,43.1058333 C17.5541667,41.1975 19.3958333,35.9975 22.4708333,30.8141667 L25.9291667,34.1725 Z M42.7791667,25.7225 C42.7708333,25.1475 42.6625,24.6058333 42.4875,24.0891667 L45.9875,20.4975 C46.2625,20.2141667 46.4125,19.8391667 46.4041667,19.4391667 C46.4041667,19.0641667 46.2458333,18.6975 45.9708333,18.4225 C45.9708333,18.4141667 45.9625,18.4058333 45.9541667,18.4058333 C45.6791667,18.1308333 45.2958333,17.9808333 44.9041667,17.9891667 C44.5041667,17.9975 44.1375,18.1475 43.8625,18.4308333 L40.9208333,21.4641667 C40.8291667,21.3475 40.7375,21.2391667 40.6375,21.1308333 L44.9875,16.6558333 C45.5541667,16.0725 45.5125,15.1725 44.9541667,14.5641667 C44.3708333,13.9975 43.4375,14.0141667 42.8625,14.5975 L38.5208333,19.0641667 C38.4125,18.9725 38.2958333,18.8808333 38.1791667,18.7891667 L41.1291667,15.7641667 C41.6958333,15.1808333 41.6708333,14.2058333 41.0958333,13.6725 C40.8125,13.3975 40.4375,13.2475 40.0458333,13.2558333 C39.6458333,13.2558333 39.2791667,13.4225 39.0041667,13.7058333 L35.4875,17.3141667 C33.2541667,16.6558333 30.5125,17.2808333 26.7458333,20.6975 C26.6791667,20.7391667 26.5875,20.7975 26.4791667,20.8975 C26.4375,20.9475 26.4041667,20.9975 26.3875,21.0308333 C26.0208333,21.3725 25.6541667,21.7308333 25.2625,22.1308333 C19.8875,27.6558333 12.1208333,42.7391667 14.8791667,45.4975 C14.8875,45.4975 14.8875,45.5058333 14.8958333,45.5058333 C17.6875,48.2308333 32.5958333,40.0475 37.9875,34.5058333 C41.2958333,31.1058333 42.8625,28.2308333 42.7791667,25.7225 Z" id="Fill-4"></path>
                    </svg>
                    <p>Sustainable</p>
                </div>
            </div>            
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Icon Blocks",
    "settings": [],
    "presets": [
      {
        "name": "Icon Blocks",
        "category": "Image"
      }
    ]
  }
{% endschema %}