{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

{% assign sectionId = 1 %}
{% assign sectionImg = 'coral-home-section1.png' %}
{% assign animType = 'slideInDown' %}
{% capture illustrationMobileImg %}
    {{ section.settings.image_mobile | img_url: '610x' }}
{% endcapture %}
{% assign illustrationMobileAlt = '' %}
{% capture illustrationDesktopImg %}
    {{ section.settings.image_desktop | img_url: '1740x' }}
{% endcapture %}
{% assign illustrationDesktopAlt = '' %}

{% if section.id == '1535646595484' or section.id == '1544747523736' %}
    {% assign sectionId = 2 %}
    {% assign sectionImg = 'coral-home-section2.png' %}
    {% assign animType = 'slideInUp' %}
    {% capture illustrationMobileImg %}
        {{ section.settings.image_mobile | img_url: '610x' }}
    {% endcapture %}
    {% assign illustrationMobileAlt = '' %}
    {% capture illustrationDesktopImg %}
        {{ section.settings.image_desktop | img_url: '1740x' }}
    {% endcapture %}
    {% assign illustrationDesktopAlt = '' %}
{% elsif section.id == '1535646772792' or section.id == '1544747670356' %}
    {% assign sectionId = 3 %}
    {% assign sectionImg = 'coral-home-section3.png' %}
    {% assign animType = 'slideInUp' %}
    {% capture illustrationMobileImg %}
        {{ section.settings.image_mobile | img_url: '1732x' }}
    {% endcapture %}
    {% assign illustrationMobileAlt = '' %}
    {% capture illustrationDesktopImg %}
        {{ section.settings.image_desktop | img_url: '1270x' }}
    {% endcapture %}
    {% assign illustrationDesktopAlt = '' %}
{% endif %}

<section class="js-section-waypoint section section--image-with-text section--image-with-text{{ sectionId }}" style="background-color:{{ section.settings.bg_color }};" data-color="{{ section.settings.bg_color }}">
  <div class="container">

      <div class="js-waypoint-animate section__image section__image--mobile animated--delay-06s" data-animation="fadeInUp">
        {% if section.settings.image_mobile != blank %}
            <img src="{{ illustrationMobileImg }}" alt="{{ illustrationMobileAlt }}" />
        {% endif %}
      </div> 
      <div class="js-waypoint-animate section__image section__image--desktop animated--delay-06s" data-animation="fadeInUp">
        {% if section.settings.image_desktop != blank %}
            <img src="{{ illustrationDesktopImg }}" alt="{{ illustrationDesktopAlt }}" />
        {% endif %}
      </div>

      <div class="js-waypoint-animate section__content animated--delay-02s" data-animation="fadeInUp">
        {% if section.settings.title != blank %}
          <h2 class="section__title">{{ section.settings.title | escape }}</h2>
        {% endif %}

        {% if section.settings.text != blank %}
          <div class="section__text">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>

      <img class="js-waypoint-animate section__dec section__dec--home-section{{ sectionId }} animated--delay-1s" src="{{ sectionImg | file_img_url: '900x734' }}" alt="Coral Decoration" data-animation="{{ animType }}" />

    </div>
</section>

{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Main title here"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },      
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Colour"
      }      
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
