{%- comment -%}
  This is available when you add the "Logo List" section in the theme editor.
{%- endcomment -%}

<section class="section section--white section--space section--logos">
    <div class="container container--narrow">

        {% if section.settings.title != blank %}
            <h2 class="title title--brand3 title--space">
                <span class="title__text">{{ section.settings.title | escape }}</span>
            </h2>
        {% endif %}

        {% if section.blocks.size > 0 %}
            <ul class="logo-bar">
              {% for block in section.blocks %}
                  <li class="logo-bar__item" {{ block.shopify_attributes }} style="width:{{ block.settings.logo_width }}px">
                      {% if block.settings.link != blank %}
                          <a href="{{ block.settings.link }}" class="logo-bar__link">
                      {% endif %}
                          {% if block.settings.image != blank %}
                              {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
                          {% else %}
                              {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                          {% endif %}
                      {% if block.settings.link != blank %}
                          </a>
                      {% endif %}
                  </li>
              {% endfor %}
            </ul>
        {% endif %}

        {% if section.blocks.size == 0 %}
            {% include 'no-blocks' %}
        {% endif %}

    </div>
</section>

{% schema %}
  {
    "name": {
      "en": "Logo list",
      "de": "Logo-Liste",
      "fr": "Liste des logos",
      "it": "Elenco loghi",
      "ja": "ロゴリスト",
      "es": "Lista de logotipos",
      "pt-BR": "Lista de logotipos"
    },
    "class": "index-section",
    "max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête",
          "it": "Heading",
          "ja": "見出し",
          "es": "Título",
          "pt-BR": "Título"
        },
        "default": {
          "en": "Logo list",
          "de": "Logo-Liste",
          "fr": "Liste de logos",
          "it": "Elenco loghi",
          "ja": "ロゴリスト",
          "es": "Lista de logotipos",
          "pt-BR": "Lista de logotipos"
        }
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": {
          "en": "Logo",
          "de": "Logo",
          "fr": "Logo",
          "it": "Logo",
          "ja": "ロゴ",
          "es": "Logotipo",
          "pt-BR": "Logotipo"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image",
              "de": "Foto",
              "fr": "Image",
              "it": "Immagine",
              "ja": "画像",
              "es": "Imagen",
              "pt-BR": "Imagem"
            }
          },
          {
            "type": "url",
            "id": "link",
            "label": {
              "en": "Link",
              "de": "Link",
              "fr": "Lien",
              "it": "Link",
              "ja": "リンク",
              "es": "Enlace",
              "pt-BR": "Link"
            },
            "info": {
              "en": "Optional",
              "de": "Optional",
              "fr": "Facultatif",
              "it": "Facoltativo",
              "ja": "選択させる",
              "es": "Opcional",
              "pt-BR": "Opcional"
            }
          },
          {
            "type": "range",
            "id": "logo_width",
            "default": 140,
            "min": 80,
            "max": 175,
            "label": {
              "en": "logo_width"
            }          
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Logo list",
          "de": "Logo-Liste",
          "fr": "Liste de logos",
          "it": "Elenco loghi",
          "ja": "ロゴリスト",
          "es": "Lista de logotipos",
          "pt-BR": "Lista de logotipos"
        },
        "category": {
          "en": "Image",
          "de": "Foto",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "es": "Imagen",
          "pt-BR": "Imagem"
        },
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
