<section class="section section--product section--pink">
  <img class="section__dec section--product__hero--dec" src="{{ 'coral-single-product-hero.png' | file_img_url: '944x608' }}" alt="" />

  <div class="container">
    <div class="single-product" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
      {%- assign current_variant = product.selected_or_first_available_variant -%}

      <div class="l-single-product-col l-single-product-col1">
        <div class="single-product__content">
          <h1 class="single-product__title">Omega 3 from algae{% if product.handle != 'omega-3-from-algae-single' %} refill service{% endif %}</h1>
          <p class="single-product__subtitle">the original (and purest) form of omega 3 available</p>
          <p class="single-product__detail">60 DHA + EPA softgels</p>

          <form class="single-product__selection" action="/cart/add" method="post" enctype="multipart/form-data">
            {% unless product.has_only_default_variant %}
              <div class="variant-radios">
                {% for variant in product.variants %}
                  <div class="variant-radio">
                    <input type="radio" name="id" value="{{ variant.id }}" data-price="{{ variant.price }}" id="{{ variant.id }}" {% if forloop.first == true %}checked="checked"{% endif %} />
                    {% if product.handle == 'omega-3-from-algae-single' %}
                        <label for="{{ variant.id }}">x{{ forloop.index }}-{{ variant.price | money_without_trailing_zeros }} {% if forloop.index == 2 %}<span class="variant-msg">Save 10%</span>{% endif %}</label>
                    {% else %}
                        <label for="{{ variant.id }}">{{ variant.title }} {{ variant.price | money_without_trailing_zeros }}</label>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endunless %}
            <button
              class="button button--single-product"
              type="submit"
              name="add"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span data-add-to-cart-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
            </button>
          </form>
      </div>
      <div class="l-single-product-col">
        <div class="single-product__image {% if product.handle == 'omega-3-from-algae-refill-service' %}single-product__image--large{% endif %}">
          {% include 'responsive-image' with
            image: product.images[0],
            max_width: 1200,
            max_height: 1200,
            image_attributes: "data-product-featured-image",
            wrapper_class: wrapper_class,
            wrapper_attributes: "data-product-image-wrapper",
          %}
        </div>
      </div>

        <div class="accordion">
            <ul class="accordion__items">
                <li class="accordion__item">
                <h4 class="js-info-trigger accordion__title">Free UK Delivery 
                    <span class="accordion__plus">{% include 'icon-plus' %}</span>
                    <span class="accordion__minus">{% include 'icon-minus' %}</span>
                </h4>
                <div class="js-info-content accordion__desc">
                    <p>UK delivery is FREE. All items are dispatched by Royal Mail and take 1-3 days to arrive.</p>
                    <p>International orders are charged at a flat rate £5, no matter the size of your order.</p>
                </div>
                </li>
                <li class="accordion__item">
                <h4 class="js-info-trigger accordion__title">Satisfaction Guaranteed 
                    <span class="accordion__plus">{% include 'icon-plus' %}</span>
                    <span class="accordion__minus">{% include 'icon-minus' %}</span>
                </h4>
                <div class="js-info-content accordion__desc">
                    <p>We stand by our product and offer a 100% refund if you not are satisfied with your purchase.</p>
                </div>
                </li>
            </ul>
            </div>
        </div>      
    </div>
  </div>

  <div class="container container--wide">
      <div class="icon-blocks icon-blocks--product">
          <div class="l-icon-block l-icon-block--small">
              <div class="icon-block icon-block--small icon-block--color-brand2">
                  <svg width="60px" height="60px" viewBox="0 0 60 60">
                      <path d="M30.105,0.415833333 C13.705,0.415833333 0.413333333,13.7075 0.413333333,30.1075 C0.413333333,46.4991667 13.705,59.7908333 30.105,59.7908333 C46.4966667,59.7908333 59.7966667,46.4991667 59.7966667,30.1075 C59.7966667,13.7075 46.4966667,0.415833333 30.105,0.415833333 M30.105,3.74916667 C44.6383333,3.74916667 56.4633333,15.5658333 56.4633333,30.1075 C56.4633333,44.6408333 44.6383333,56.4575 30.105,56.4575 C15.5716667,56.4575 3.74666667,44.6408333 3.74666667,30.1075 C3.74666667,15.5658333 15.5716667,3.74916667 30.105,3.74916667"></path>
                      <polygon points="10.8425 51.295 8.48416667 48.9366667 48.4091667 9.00333333 50.7758333 11.3616667"></polygon>
                      <path d="M41.9866667,30.6158333 C42.4783333,30.6158333 42.9616667,30.4325 43.3366667,30.0575 C44.0783333,29.3075 44.0783333,28.0908333 43.3366667,27.3491667 C42.9783333,26.9825 42.495,26.7908333 41.9866667,26.7908333 C41.47,26.7908333 40.995,26.9825 40.6283333,27.3491667 C39.895,28.0991667 39.895,29.3158333 40.6366667,30.0575 C41.0033333,30.4325 41.495,30.6158333 41.9866667,30.6158333"></path>
                      <path d="M33.5716667,35.2225 C33.7883333,35.4308333 34.0716667,35.5558333 34.3716667,35.5558333 C34.68,35.5558333 34.9633333,35.4308333 35.18,35.2225 C35.3966667,35.0141667 35.5133333,34.7141667 35.5133333,34.4141667 C35.5133333,34.1141667 35.3966667,33.8308333 35.18,33.6225 C33.1383333,31.5808333 33.1383333,28.2558333 35.18,26.2225 C35.6216667,25.7725 35.6216667,25.0558333 35.18,24.6141667 C34.7466667,24.1808333 34.005,24.1808333 33.5716667,24.6141667 C30.6716667,27.5058333 30.6466667,32.2058333 33.4883333,35.1308333 L33.5716667,35.2225 Z"></path>
                      <path d="M30.0808333,34.6766667 C30.3725,34.6766667 30.6641667,34.56 30.8808333,34.3433333 C31.3225,33.9016667 31.3225,33.1766667 30.8891667,32.7433333 C29.3308333,31.185 29.3308333,28.6516667 30.8891667,27.0933333 C31.3308333,26.6516667 31.3225,25.9266667 30.8808333,25.485 C30.4391667,25.0516667 29.7225,25.0516667 29.2808333,25.485 C28.0975,26.6683333 27.4475,28.2433333 27.4475,29.9183333 C27.4475,31.5933333 28.0975,33.16 29.2808333,34.3433333 C29.4975,34.56 29.7891667,34.6766667 30.0808333,34.6766667"></path>
                      <path d="M14.8825,30.795 C15.1491667,30.5866667 15.2991667,30.2616667 15.2991667,29.92 C15.2991667,29.5783333 15.1491667,29.2533333 14.8825,29.0366667 C13.5408333,27.9366667 13.2991667,25.8783333 13.2825,24.6366667 C15.1658333,24.945 17.2658333,26.0616667 18.0241667,28.4033333 C18.0991667,28.6283333 18.1741667,29.1533333 18.1741667,29.9283333 C18.1741667,30.6866667 18.0991667,31.2033333 18.0241667,31.4283333 C17.2658333,33.7783333 15.1658333,34.895 13.2825,35.195 C13.2908333,33.9616667 13.5325,31.9033333 14.8825,30.795 M20.4408333,29.9283333 C20.4408333,29.57 20.4325,28.9033333 20.3241667,28.295 C23.5825,23.8533333 28.3241667,21.3116667 33.3491667,21.3116667 C39.0075,21.3116667 44.2575,24.52 47.4491667,29.92 C44.2575,35.3116667 39.0075,38.5283333 33.3491667,38.5283333 C28.3241667,38.5283333 23.5908333,35.9783333 20.3241667,31.5366667 C20.4325,30.9283333 20.4408333,30.2783333 20.4408333,29.9283333 M31.0991667,18.395 C32.2158333,18.445 33.2825,18.67 34.3075,19.07 C30.7658333,18.8616667 27.2491667,19.7783333 24.1575,21.6783333 C24.0408333,21.2366667 23.8575,20.8616667 23.6575,20.57 C25.3325,19.4283333 28.1158333,18.2616667 31.0991667,18.395 M29.0408333,40.245 C28.4741667,40.7283333 27.8658333,41.07 27.2658333,41.2033333 C27.0325,41.2616667 26.4658333,41.3533333 26.1741667,41.0616667 C25.9158333,40.795 25.8825,40.1116667 26.2825,39.2866667 C27.1741667,39.6783333 28.0991667,40.0033333 29.0408333,40.245 M49.7575,29.37 C47.4741667,25.2283333 44.1575,22.145 40.1658333,20.445 C37.6325,17.7283333 34.6241667,16.2783333 31.1991667,16.12 C27.0991667,15.9283333 23.2158333,17.7616667 21.1658333,19.6533333 C20.8908333,19.9033333 20.7658333,20.2783333 20.8158333,20.6533333 C20.8825,21.0283333 21.1158333,21.345 21.4408333,21.5033333 C21.4741667,21.52 22.1658333,21.92 21.9991667,23.2283333 C21.0408333,24.02 20.1408333,24.92 19.3158333,25.9033333 C17.5741667,23.245 14.4658333,22.2783333 12.1991667,22.2783333 C11.6325,22.2783333 11.1491667,22.695 11.0741667,23.2616667 C11.0575,23.4283333 10.5575,27.3283333 12.5825,29.92 C10.5575,32.5033333 11.0575,36.4033333 11.0741667,36.57 C11.1491667,37.1366667 11.6325,37.5616667 12.2075,37.5616667 C14.4658333,37.5616667 17.5741667,36.5866667 19.3158333,33.9283333 C20.7658333,35.67 22.4241667,37.1116667 24.2658333,38.2283333 C23.4325,39.9283333 23.5325,41.6366667 24.5658333,42.67 C25.1325,43.2366667 25.9075,43.5366667 26.7908333,43.5366667 C27.1075,43.5366667 27.4408333,43.495 27.7741667,43.4283333 C28.8741667,43.17 29.9908333,42.52 30.9158333,41.595 C31.1908333,41.3366667 31.4408333,41.0366667 31.6741667,40.7116667 C32.2575,40.77 32.8075,40.795 33.3491667,40.795 C40.0575,40.795 46.1825,36.9283333 49.7575,30.4616667 C49.9408333,30.12 49.9408333,29.7116667 49.7575,29.37"></path>
                      <path d="M25.78,33.7733333 C26.0883333,33.7733333 26.3716667,33.6566667 26.5883333,33.44 C26.805,33.2316667 26.9216667,32.94 26.9216667,32.6316667 C26.9216667,32.3316667 26.805,32.0483333 26.5883333,31.84 C25.53,30.7816667 25.53,29.0566667 26.5883333,27.9983333 C26.805,27.7816667 26.9216667,27.4983333 26.9216667,27.1983333 C26.9216667,26.89 26.805,26.6066667 26.5883333,26.39 C26.1383333,25.9566667 25.4216667,25.9566667 24.98,26.39 C24.0383333,27.3316667 23.5216667,28.5816667 23.5216667,29.915 C23.5216667,31.2483333 24.0383333,32.5066667 24.98,33.44 C25.1966667,33.6566667 25.48,33.7733333 25.78,33.7733333"></path>
                  </svg>
                  <p>Vegan</p>
              </div>
          </div>
          <div class="l-icon-block l-icon-block--small">
              <div class="icon-block icon-block--small icon-block--color-brand2">
                  <svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path d="M30.105,0.415833333 C13.705,0.415833333 0.413333333,13.7075 0.413333333,30.1075 C0.413333333,46.4991667 13.705,59.7908333 30.105,59.7908333 C46.4966667,59.7908333 59.7966667,46.4991667 59.7966667,30.1075 C59.7966667,13.7075 46.4966667,0.415833333 30.105,0.415833333 M30.105,3.74916667 C44.6383333,3.74916667 56.4633333,15.5658333 56.4633333,30.1075 C56.4633333,44.6408333 44.6383333,56.4575 30.105,56.4575 C15.5716667,56.4575 3.74666667,44.6408333 3.74666667,30.1075 C3.74666667,15.5658333 15.5716667,3.74916667 30.105,3.74916667"></path>
                      <path d="M29.5841667,40.17 C26.9258333,40.17 20.9591667,34.0366667 19.2675,30.7533333 C17.7841667,27.6866667 18.6675,23.945 21.2675,22.245 C22.0258333,21.7533333 22.8925,21.5033333 23.7758333,21.5033333 C24.1425,21.5033333 24.5091667,21.5533333 24.8758333,21.6366667 C26.1841667,21.9366667 27.3925,22.8533333 28.1841667,24.1366667 C28.4841667,24.6533333 29.0008333,24.945 29.5841667,24.945 C30.1758333,24.945 30.6758333,24.6616667 30.9841667,24.1366667 C31.7758333,22.8533333 32.9758333,21.9366667 34.2925,21.6366667 C35.5008333,21.3283333 36.8258333,21.5616667 37.9008333,22.245 C40.5675,23.995 41.4758333,27.8033333 39.9008333,30.7533333 C38.2008333,34.045 32.2341667,40.17 29.5841667,40.17 M39.7008333,19.4366667 C37.9008333,18.295 35.8925,17.895 33.5841667,18.3366667 C32.0508333,18.745 30.7758333,19.445 29.5841667,20.5366667 C28.4508333,19.4116667 27.0175,18.62 25.5758333,18.3366667 C23.4925,17.8366667 21.2508333,18.2366667 19.4675,19.4366667 C15.4258333,22.0616667 13.9925,27.82 16.2591667,32.2533333 C17.9758333,35.6783333 24.7425,43.47 29.4841667,43.47 L29.5841667,43.47 C34.3758333,43.47 41.1758333,35.5116667 42.9008333,32.2533333 C45.1758333,27.8116667 43.7425,22.0616667 39.7008333,19.4366667"></path>
                  </svg>
                  <p>For healthy heart &amp; brain</p>
              </div>
          </div>
          <div class="l-icon-block l-icon-block--small">
              <div class="icon-block icon-block--small icon-block--color-brand2">
                  <svg width="60px" height="60px" viewBox="0 0 60 60">
                      <path d="M30.1041667,0.415833333 C13.7125,0.415833333 0.4125,13.7075 0.4125,30.1075 C0.4125,46.4991667 13.7125,59.7908333 30.1041667,59.7908333 C46.5041667,59.7908333 59.7958333,46.4991667 59.7958333,30.1075 C59.7958333,13.7075 46.5041667,0.415833333 30.1041667,0.415833333 M30.1041667,3.74916667 C44.6375,3.74916667 56.4625,15.5658333 56.4625,30.1075 C56.4625,44.6408333 44.6375,56.4575 30.1041667,56.4575 C15.5708333,56.4575 3.74583333,44.6408333 3.74583333,30.1075 C3.74583333,15.5658333 15.5708333,3.74916667 30.1041667,3.74916667"></path>
                      <path d="M25.9291667,34.1725 C26.2125,34.4475 26.5875,34.5975 26.9791667,34.5975 C27.3708333,34.5891667 27.7458333,34.4225 28.0208333,34.1475 C28.2958333,33.8641667 28.4458333,33.4891667 28.4375,33.0891667 C28.4291667,32.7058333 28.2791667,32.3391667 28.0041667,32.0641667 C28.0041667,32.0641667 27.9958333,32.0558333 27.9958333,32.0558333 L24.0958333,28.2641667 C24.3458333,27.9141667 24.5875,27.5641667 24.8375,27.2308333 L28.8708333,31.1475 C29.1541667,31.4225 29.5291667,31.5725 29.9208333,31.5725 C30.3208333,31.5641667 30.6875,31.4058333 30.9625,31.1225 C31.2375,30.8391667 31.3875,30.4641667 31.3791667,30.0725 C31.3791667,29.6725 31.1791667,29.2891667 30.9375,29.0308333 L26.7125,24.9225 C26.9375,24.6641667 27.1541667,24.4225 27.3875,24.1891667 C27.4541667,24.1225 27.5125,24.0641667 27.5708333,23.9975 L31.8125,28.1225 C32.0958333,28.4058333 32.4708333,28.5475 32.8708333,28.5475 C33.2625,28.5391667 33.6291667,28.3808333 33.9041667,28.0975 C34.1791667,27.8141667 34.3291667,27.4391667 34.3208333,27.0475 C34.3208333,26.6558333 34.1208333,26.2725 33.8791667,26.0141667 L29.7541667,21.9975 C33.9125,18.6475 35.5375,20.2225 37.5708333,22.2058333 C39.9458333,24.5141667 41.8125,26.3391667 35.8708333,32.4391667 C30.1708333,38.2891667 20.1208333,42.5558333 17.2375,43.1058333 C17.5541667,41.1975 19.3958333,35.9975 22.4708333,30.8141667 L25.9291667,34.1725 Z M42.7791667,25.7225 C42.7708333,25.1475 42.6625,24.6058333 42.4875,24.0891667 L45.9875,20.4975 C46.2625,20.2141667 46.4125,19.8391667 46.4041667,19.4391667 C46.4041667,19.0641667 46.2458333,18.6975 45.9708333,18.4225 C45.9708333,18.4141667 45.9625,18.4058333 45.9541667,18.4058333 C45.6791667,18.1308333 45.2958333,17.9808333 44.9041667,17.9891667 C44.5041667,17.9975 44.1375,18.1475 43.8625,18.4308333 L40.9208333,21.4641667 C40.8291667,21.3475 40.7375,21.2391667 40.6375,21.1308333 L44.9875,16.6558333 C45.5541667,16.0725 45.5125,15.1725 44.9541667,14.5641667 C44.3708333,13.9975 43.4375,14.0141667 42.8625,14.5975 L38.5208333,19.0641667 C38.4125,18.9725 38.2958333,18.8808333 38.1791667,18.7891667 L41.1291667,15.7641667 C41.6958333,15.1808333 41.6708333,14.2058333 41.0958333,13.6725 C40.8125,13.3975 40.4375,13.2475 40.0458333,13.2558333 C39.6458333,13.2558333 39.2791667,13.4225 39.0041667,13.7058333 L35.4875,17.3141667 C33.2541667,16.6558333 30.5125,17.2808333 26.7458333,20.6975 C26.6791667,20.7391667 26.5875,20.7975 26.4791667,20.8975 C26.4375,20.9475 26.4041667,20.9975 26.3875,21.0308333 C26.0208333,21.3725 25.6541667,21.7308333 25.2625,22.1308333 C19.8875,27.6558333 12.1208333,42.7391667 14.8791667,45.4975 C14.8875,45.4975 14.8875,45.5058333 14.8958333,45.5058333 C17.6875,48.2308333 32.5958333,40.0475 37.9875,34.5058333 C41.2958333,31.1058333 42.8625,28.2308333 42.7791667,25.7225 Z"></path>
                  </svg>
                  <p>Sustainable</p>
              </div>
          </div>            
          <div class="l-icon-block l-icon-block--small">
              <div class="icon-block icon-block--small icon-block--color-brand2">
                  <svg width="40px" height="40px" viewBox="0 0 39 39">
                    <path d="M19.5244947,0.26969475 C8.89344111,0.26969475 0.267532868,8.89019829 0.267532868,19.5266566 C0.267532868,30.1577102 8.89344111,38.7782137 19.5244947,38.7782137 C30.160953,38.7782137 38.7814565,30.1577102 38.7814565,19.5266566 C38.7814565,8.89019829 30.160953,0.26969475 19.5244947,0.26969475 M19.5244947,2.43157652 C28.9502992,2.43157652 36.6195748,10.0954474 36.6195748,19.5266566 C36.6195748,28.9524611 28.9502992,36.6163319 19.5244947,36.6163319 C10.0986902,36.6163319 2.42941463,28.9524611 2.42941463,19.5266566 C2.42941463,10.0954474 10.0986902,2.43157652 19.5244947,2.43157652"></path>
                    <g transform="translate(7.296351, 10.539174)">
                        <path d="M14.9769111,3.50018283 L17.3946155,3.50019692 C17.9651046,3.49771977 18.4870414,3.82197951 18.7372342,4.33499856 L19.6711221,6.29195195 L14.9769111,6.29195195 L14.9769111,3.50018283 Z M17.5977423,15.3533893 C16.895964,15.3533893 16.3269612,14.7843865 16.3269612,14.0826082 C16.3269612,13.3808298 16.895964,12.811827 17.5977423,12.811827 C18.2995207,12.811827 18.8685235,13.3808298 18.8685235,14.0826082 L18.8685235,14.0850853 C18.8670372,14.7858728 18.2985298,15.3533893 17.5977423,15.3533893 Z M7.27047819,15.3533893 C6.56869984,15.3548756 5.99845848,14.7868637 5.99721991,14.0850853 C5.99598133,13.383307 6.56374553,12.8130656 7.26552388,12.811827 C7.96730222,12.8103407 8.53729586,13.3781049 8.53878216,14.080131 L8.53878216,14.0850853 C8.53729586,14.7848819 7.97027481,15.351903 7.27047819,15.3533893 Z M22.1111209,6.81215475 L20.5207866,3.49276546 C19.943857,2.28614268 18.7273256,1.51624253 17.3896612,1.5110405 L14.9769111,1.5110405 L14.9769111,1.23855332 C14.9769111,0.691349521 14.5332524,0.247690847 13.9860486,0.247690847 L3.39372875,0.247690847 C2.84652495,0.247690847 2.40286628,0.691349521 2.40286628,1.23855332 C2.40286628,1.78575713 2.84652495,2.2294158 3.39372875,2.2294158 L12.9951861,2.2294158 L12.9951861,7.29272305 C12.9951861,7.83992685 13.4388448,8.28358553 13.9860486,8.28358553 L20.7412535,8.28358553 L21.732116,9.54198087 L21.732116,13.1041315 L20.6991419,13.1041315 C20.1536721,11.3941506 18.3255308,10.4498586 16.6153022,10.9950807 C15.6120539,11.3148816 14.8263,12.1008832 14.5062514,13.1041315 L10.3644463,13.1041315 C9.81922419,11.3941506 7.99083521,10.4498586 6.28085429,10.9950807 C5.27735832,11.3148816 4.49135666,12.1008832 4.17155579,13.1041315 L3.14601313,13.1041315 C2.59880933,13.1041315 2.15515066,13.5477901 2.15515066,14.0949939 C2.15515066,14.6421977 2.59880933,15.0858564 3.14601313,15.0858564 L4.17155579,15.0858564 C4.71677787,16.7958373 6.54516686,17.740377 8.25514777,17.1951549 C9.25864375,16.8753541 10.0443977,16.0891047 10.3644463,15.0858564 L14.5062514,15.0858564 C15.0514735,16.7958373 16.8798625,17.740377 18.5898434,17.1951549 C19.5933394,16.8753541 20.379341,16.0891047 20.6991419,15.0858564 L22.2250701,15.0858564 C23.0457519,15.0858564 23.7113638,14.4202446 23.7113638,13.5995627 L23.7113638,9.20261047 C23.7088867,8.98090499 23.6320948,8.76613555 23.4933741,8.59323005 L22.1111209,6.81215475 Z"></path>
                        <path d="M4.95436192,11.2710607 C5.50156572,11.2710607 5.9452244,10.827402 5.9452244,10.2801982 C5.9452244,9.73299438 5.50156572,9.28933571 4.95436192,9.28933571 L2.22949011,9.28933571 C1.68228631,9.28933571 1.23862764,9.73299438 1.23862764,10.2801982 C1.23862764,10.827402 1.68228631,11.2710607 2.22949011,11.2710607 L4.95436192,11.2710607 Z"></path>
                        <path d="M7.67923373,7.30761076 C7.67923373,6.76040696 7.23557506,6.31674828 6.68837125,6.31674828 L0.990912019,6.31674828 C0.443708217,6.31674828 4.95431238e-05,6.76040696 4.95431238e-05,7.30761076 C4.95431238e-05,7.85481456 0.443708217,8.29847324 0.990912019,8.29847324 L6.68837125,8.29847324 C7.23557506,8.29847324 7.67923373,7.85481456 7.67923373,7.30761076"></path>
                        <path d="M8.91781183,4.33502333 C8.91781183,3.78781953 8.47415315,3.34416086 7.92694935,3.34416086 L2.22949011,3.34416086 C1.68228631,3.34416086 1.23862764,3.78781953 1.23862764,4.33502333 C1.23862764,4.88222713 1.68228631,5.32588581 2.22949011,5.32588581 L7.92694935,5.32588581 C8.47415315,5.32588581 8.91781183,4.88222713 8.91781183,4.33502333"></path>
                    </g>
                  </svg>
                  <p>Free UK Delivery</p>
              </div>
          </div>
          <div class="l-icon-block l-icon-block--small">
              <div class="icon-block icon-block--small icon-block--color-brand2">
                  <svg width="40px" height="40px" viewBox="0 0 40 39">
                    <path d="M19.2569618,0 C8.62590824,0 0,8.62050354 0,19.2569618 C0,29.8880154 8.62590824,38.5085189 19.2569618,38.5085189 C29.8934201,38.5085189 38.5139237,29.8880154 38.5139237,19.2569618 C38.5139237,8.62050354 29.8934201,0 19.2569618,0 M19.2569618,2.16188177 C28.6827663,2.16188177 36.3520419,9.82575262 36.3520419,19.2569618 C36.3520419,28.6827663 28.6827663,36.3466372 19.2569618,36.3466372 C9.83115733,36.3466372 2.16188177,28.6827663 2.16188177,19.2569618 C2.16188177,9.82575262 9.83115733,2.16188177 19.2569618,2.16188177"></path>
                    <path d="M22.653219,16.4260171 C22.8727857,17.3042838 21.9154185,18.0057212 21.1383017,17.5199908 L19.0440115,16.1830109 L16.9542126,17.5230605 C16.1819554,18.0057212 15.2245882,17.3042838 15.4456471,16.420173 L16.0715431,14.0193831 L14.1500316,12.4446723 C13.4440672,11.860426 13.8168152,10.713509 14.7325287,10.6653315 L17.2138896,10.5155148 L18.1226565,8.20146923 C18.4615458,7.35424604 19.6554835,7.35424604 19.9960669,8.20575209 L20.9033232,10.5253814 L23.3700443,10.6748977 C24.2903864,10.7233368 24.6631344,11.8702537 23.9562905,12.4552265 L22.0296818,14.0435039 L22.653219,16.4260171 Z M16.1049582,13.8912106 C16.1046921,13.8922086 16.1044324,13.8932046 16.1041792,13.8941987 L16.1049582,13.8912106 Z M22.8098577,11.8440036 L20.7065142,11.7165274 C20.317749,11.6922295 19.97776,11.4474375 19.8309854,11.0804533 L19.0581562,9.10452073 L18.2843498,11.0749085 C18.1392693,11.4376098 17.7992804,11.6824018 17.4092478,11.7067775 L15.2995758,11.8341394 L16.9319225,13.1718886 C17.2277806,13.418437 17.3655161,13.8247567 17.2661371,14.1973918 L16.7342266,16.2376078 L18.5028728,15.1034538 C18.8373334,14.8884435 19.2612985,14.8859833 19.5903688,15.1070864 L21.3629047,16.2386869 L20.8269278,14.1908553 C20.7497999,13.8052158 20.8818249,13.4226929 21.1838305,13.1844834 L22.8098577,11.8440036 Z" stroke="#f8abad" stroke-width="0.69983993" fill-rule="nonzero"></path>
                    <path d="M16.1675737,26.4247203 C16.3871404,27.302987 15.4297732,28.0044244 14.6526564,27.5186939 L12.5583662,26.181714 L10.4685673,27.5217636 C9.69631009,28.0044244 8.73894286,27.302987 8.96000178,26.4188762 L9.58589783,24.0180862 L7.66438627,22.4433755 C6.95842193,21.8591292 7.33116994,20.7122122 8.24688339,20.6640347 L10.7282443,20.514218 L11.6370112,18.2001724 C11.9759005,17.3529492 13.1698382,17.3529492 13.5104216,18.2044553 L14.4176779,20.5240845 L16.884399,20.6736009 C17.8047411,20.7220399 18.1774891,21.8689569 17.4706452,22.4539297 L15.5440365,24.0422071 L16.1675737,26.4247203 Z M9.61931292,23.8899138 C9.6190468,23.8909117 9.61878714,23.8919078 9.61853391,23.8929019 L9.61931292,23.8899138 Z M16.3242124,21.8427068 L14.2208689,21.7152305 C13.8321037,21.6909327 13.4921147,21.4461407 13.3453401,21.0791565 L12.5725109,19.1032239 L11.7987045,21.0736117 C11.653624,21.436313 11.3136351,21.681105 10.9236025,21.7054807 L8.81393055,21.8328426 L10.4462772,23.1705917 C10.7421353,23.4171402 10.8798708,23.8234599 10.7804918,24.196095 L10.2485813,26.236311 L12.0172276,25.102157 C12.3516881,24.8871467 12.7756532,24.8846864 13.1047235,25.1057895 L14.8772594,26.2373901 L14.3412825,24.1895585 C14.2641546,23.803919 14.3961796,23.4213961 14.6981852,23.1831866 L16.3242124,21.8427068 Z" stroke="#f8abad" stroke-width="0.69983993" fill-rule="nonzero"></path>
                    <path d="M29.1388643,26.4247203 C29.358431,27.302987 28.4010638,28.0044244 27.623947,27.5186939 L25.5296568,26.181714 L23.4398579,27.5217636 C22.6676007,28.0044244 21.7102335,27.302987 21.9312924,26.4188762 L22.5571884,24.0180862 L20.6356769,22.4433755 C19.9297125,21.8591292 20.3024605,20.7122122 21.218174,20.6640347 L23.6995349,20.514218 L24.6083018,18.2001724 C24.9471911,17.3529492 26.1411288,17.3529492 26.4817122,18.2044553 L27.3889685,20.5240845 L29.8556896,20.6736009 C30.7760317,20.7220399 31.1487797,21.8689569 30.4419358,22.4539297 L28.5153271,24.0422071 L29.1388643,26.4247203 Z M22.5906035,23.8899138 C22.5903374,23.8909117 22.5900777,23.8919078 22.5898245,23.8929019 L22.5906035,23.8899138 Z M29.295503,21.8427068 L27.1921595,21.7152305 C26.8033942,21.6909327 26.4634053,21.4461407 26.3166307,21.0791565 L25.5438015,19.1032239 L24.7699951,21.0736117 C24.6249146,21.436313 24.2849257,21.681105 23.8948931,21.7054807 L21.7852211,21.8328426 L23.4175678,23.1705917 C23.7134259,23.4171402 23.8511614,23.8234599 23.7517824,24.196095 L23.2198719,26.236311 L24.9885181,25.102157 C25.3229787,24.8871467 25.7469438,24.8846864 26.0760141,25.1057895 L27.84855,26.2373901 L27.3125731,24.1895585 C27.2354452,23.803919 27.3674702,23.4213961 27.6694758,23.1831866 L29.295503,21.8427068 Z" stroke="#f8abad" stroke-width="0.69983993" fill-rule="nonzero"></path>
                  </svg>
                  <p>Satisfaction guaranteed</p>
              </div>
          </div>
          <div class="l-icon-block l-icon-block--small">
              <div class="icon-block icon-block--small icon-block--color-brand2">
                  <svg width="40px" height="39px" viewBox="0 0 40 39">
                    <path d="M19.5250352,0.26969475 C8.88857688,0.26969475 0.268073339,8.89019829 0.268073339,19.5266566 C0.268073339,30.1577102 8.88857688,38.7782137 19.5250352,38.7782137 C30.1560887,38.7782137 38.781997,30.1577102 38.781997,19.5266566 C38.781997,8.89019829 30.1560887,0.26969475 19.5250352,0.26969475 M19.5250352,2.43157652 C28.9508397,2.43157652 36.6201152,10.0954474 36.6201152,19.5266566 C36.6201152,28.9524611 28.9508397,36.6163319 19.5250352,36.6163319 C10.0992307,36.6163319 2.4299551,28.9524611 2.4299551,19.5266566 C2.4299551,10.0954474 10.0992307,2.43157652 19.5250352,2.43157652" fill-rule="evenodd"></path>
                    <polygon fill-rule="evenodd" points="7.03206091 33.2681175 5.50252956 31.7385862 31.3964684 5.83924265 32.9314045 7.368774"></polygon>
                    <path d="M23.1333308,29.5826975 C23.0057786,29.6170214 22.9296271,29.6375135 22.8851497,29.6502226 C22.9686921,29.6491208 23.0514554,29.648014 23.1333308,29.6469034 L23.1333308,29.5826975 Z M22.9295914,29.4851098 C23.0718674,29.150721 23.1531962,28.6263319 23.1275212,27.8572244 L23.1277735,27.8216805 C23.1632548,26.6608844 23.1148045,25.4312097 23.0309836,24.8348914 C22.0047347,24.8811253 20.9976626,24.903304 20.0286349,24.9033024 C18.3109299,24.9078439 16.8922805,24.8592894 15.6399594,24.7818705 C15.5973067,25.1824192 15.5761502,25.7404746 15.5901318,26.4780115 C15.6032929,27.1404554 15.5951404,27.6439211 15.5704161,28.234686 C15.5675989,28.3020007 15.5584943,28.5097776 15.5578298,28.5251985 C15.5328219,29.0629314 15.5363002,29.1503801 15.5703932,29.2343126 C15.6721646,29.4877026 15.7728079,29.6233899 15.8585381,29.6815842 C15.8864176,29.7005091 15.8943701,29.7025597 15.9261559,29.7041428 C16.2810029,29.719571 19.999051,29.6881096 22.841964,29.6507908 C22.8689297,29.6117668 22.8988569,29.5573444 22.9295914,29.4851098 Z M22.831887,29.6751293 C22.8178028,29.6853586 22.816475,29.6863862 22.8113956,29.690689 C22.8090616,29.6926663 22.8110754,29.6906495 22.816516,29.6842418 C22.8201969,29.6799067 22.8239586,29.6752497 22.827794,29.6702628 C22.8259142,29.6722555 22.8285261,29.6735122 22.831887,29.6751293 Z M23.1333308,30.123168 L23.1776221,30.1674593 L23.1705232,29.6463978 C23.1581464,29.6465664 23.1457488,29.6467349 23.1333308,29.6469034 L23.1333308,30.123168 Z M23.1778859,30.1868181 L22.7043659,30.4451017 C22.7192066,30.4671659 22.7192066,30.4671659 22.7794334,30.5287119 C22.8324593,30.575487 22.8324593,30.575487 22.9764746,30.6393405 C23.2318431,30.6806811 23.2318431,30.6806811 23.5155011,30.5053383 L23.1776221,30.1674593 L23.1778859,30.1868181 Z M22.7034093,30.4456235 L22.7043659,30.4451017 C22.6983647,30.4365453 22.6996088,30.4386558 22.7034093,30.4456235 Z M24.0816425,30.7150259 L23.1852486,30.7272384 C20.2567988,30.7671355 16.280767,30.8015228 15.8759588,30.7839127 C15.7891373,30.779615 15.7188332,30.7712152 15.6276015,30.7476908 C15.4994867,30.7146559 15.3733008,30.6586561 15.2514432,30.5759382 C14.9738652,30.3875159 14.7444953,30.0782796 14.5681352,29.6391675 C14.4511273,29.3511481 14.4447571,29.1909921 14.4779681,28.4769486 C14.4785862,28.4625277 14.4876569,28.2555219 14.4904206,28.1894868 C14.5142779,27.6194373 14.522081,27.1375518 14.5093946,26.4989912 C14.4874929,25.3436775 14.5481959,24.5663593 14.6564086,24.0903317 L14.7590891,23.6386401 L15.2211738,23.6709861 C16.5691299,23.765343 18.1070917,23.8274382 20.0272059,23.8223634 C21.1181369,23.8223634 22.2571278,23.793841 23.417394,23.7340335 L23.7779363,23.7154488 L23.9331714,24.0413909 C24.1661419,24.5305511 24.2595291,26.1757568 24.2084621,27.838193 C24.2429919,28.8701793 24.0752117,29.6967254 23.7915248,30.1831435 L24.0816425,30.7150259 Z M17.6867624,9.74256793 C17.6812181,9.73356711 17.6756068,9.72480961 17.669935,9.71630193 L17.2202364,10.016101 L17.7036479,9.77439526 C17.6980449,9.76318924 17.692428,9.75261358 17.6867624,9.74256793 Z M17.8874661,10.6385879 C17.8620064,11.2071871 17.5935142,11.7624778 17.1138689,12.2801902 C16.9466979,12.4588994 16.8109927,12.5898845 16.5397757,12.8417194 C16.4235578,12.9507379 16.384208,12.9878798 16.3289022,13.0412372 C15.6533916,13.6929501 15.4453372,14.1839915 15.5071609,15.4392324 C15.5283651,16.0435514 15.5851143,16.7234228 15.6531717,17.1883029 C16.5674821,17.1724335 17.5507899,17.1589834 18.6233031,17.1502594 C20.2851931,17.1367412 21.7610057,17.1389275 22.9510014,17.1613083 C23.1194828,16.2580565 23.1882933,15.2072194 23.066725,14.0878908 C23.0275253,13.7079555 22.7411056,13.3436454 22.1527026,12.8753601 C22.0630767,12.8040307 21.9943296,12.751169 21.8240707,12.6216947 C21.3844397,12.2843034 21.2331247,12.1573259 21.0675877,11.9572995 C20.7573295,11.5805574 20.6290693,11.0443378 20.6028515,10.4641776 C20.2310586,10.4392458 19.7505449,10.4261433 19.13938,10.4292613 C18.6250597,10.4323784 18.2101425,10.4447628 17.8863852,10.4645635 C17.8892106,10.5211256 17.8896669,10.5792321 17.8874661,10.6385879 Z M20.8348745,9.72535659 C20.8401374,9.71849084 20.8455642,9.71151254 20.8512089,9.70433295 C20.8410322,9.71727691 20.8372722,9.7219191 20.8357483,9.72436555 L20.8348745,9.72535659 Z M16.8074365,10.5944082 C16.810861,10.5019465 16.8000119,10.4216171 16.7800875,10.3545032 C16.7764208,10.3421522 16.7728899,10.3317193 16.7703935,10.3242337 L16.0733101,9.62715033 L17.1140544,9.4572329 C17.5123379,9.39220702 18.1631182,9.35421731 19.133347,9.34833738 C20.217459,9.3428062 20.9339201,9.38697161 21.3954257,9.4638892 L22.1172441,9.58419227 L21.7899844,10.2387117 C21.7613765,10.2959275 21.694219,10.3838015 21.6819877,10.3987026 C21.6976126,10.7686307 21.7797469,11.121689 21.9011686,11.269132 C21.9921874,11.3791131 22.11809,11.4847657 22.4802625,11.7627187 C22.6550371,11.8956202 22.7278333,11.9515953 22.8258227,12.0295809 C23.6240102,12.6648249 24.0643691,13.2249369 24.141652,13.9740628 C24.2974096,15.408107 24.1703694,16.7329551 23.9143538,17.8338221 L23.8146252,18.2626551 L23.3744848,18.2517014 C22.1298851,18.2207272 20.499622,18.2159736 18.6320954,18.2311645 C17.3840437,18.2413164 16.2568012,18.2578963 15.2189624,18.2772349 L14.7972028,18.2850938 L14.6871428,17.8778719 C14.5596214,17.4060425 14.45856,16.3798809 14.4272079,15.4847952 C14.3498653,13.9158446 14.6847439,13.1254775 15.5783871,12.2633167 C15.6387093,12.2051197 15.6800671,12.1660825 15.802246,12.0514816 C16.0571151,11.8148175 16.1792413,11.6969586 16.3218187,11.5446009 C16.6387414,11.202238 16.7946531,10.8795432 16.8074365,10.5944082 Z M21.6812693,10.382259 C21.681271,10.3811179 21.6812525,10.379938 21.6812092,10.378723 C21.6812236,10.3791283 21.6812382,10.3795335 21.6812528,10.3799387 L21.6812693,10.382259 Z M16.3227105,11.5436478 L16.3209323,11.5455578 C16.3212281,11.5452386 16.3215237,11.5449194 16.3218191,11.5446002 C16.3221159,11.5442834 16.3224131,11.5439656 16.3227105,11.5436478 Z M17.7198909,8.22293394 L17.7005536,8.7463015 C18.0915873,8.71910065 18.5622332,8.70546433 19.1233744,8.70546433 C19.8278647,8.70546433 20.3919177,8.72118605 20.8339102,8.75540073 C20.8247702,8.48599755 20.8125091,8.23278527 20.7978923,8.03242806 C20.7849651,8.02979555 20.7716134,8.0271797 20.7578413,8.0245868 C20.4940839,7.97492877 20.1304679,7.94302939 19.6619783,7.93757604 C18.9421749,7.92587192 18.0949035,7.99571209 17.7568697,8.08584101 C17.76855,8.08281278 17.7661469,8.08504698 17.7501217,8.11500715 C17.7430878,8.12815748 17.7368212,8.14164468 17.7311379,8.15572583 C17.7283667,8.17826418 17.7246358,8.20066093 17.7198909,8.22293394 Z M17.7221483,8.16183881 L17.1993102,8.14252108 L17.1926404,8.145856 L17.296303,8.18472947 L17.6977896,8.27076232 C17.7048519,8.23780491 17.7123704,8.20872773 17.7214013,8.18205477 L17.7221483,8.16183881 Z M17.4868269,7.72033382 C17.2312169,7.59427581 17.2312169,7.59427581 16.9241521,7.67659192 C16.8360812,7.75657815 16.7790597,7.80836525 16.7415191,7.84520771 L17.5945484,7.8434446 L17.6075037,7.84066847 C17.5868882,7.81564466 17.5546165,7.7849051 17.4868269,7.72033382 Z M17.7225168,7.93183789 C17.722551,7.92715925 17.722551,7.92715925 17.7220182,7.90833083 C17.7214449,7.897389 17.7214449,7.897389 17.7214963,7.89831107 L17.7152651,7.84319509 L17.6097366,7.84341321 C17.6269874,7.8648937 17.6360485,7.88281797 17.6527278,7.91581231 L17.6206766,7.93183789 L17.7225168,7.93183789 Z M16.6601437,7.97907553 C16.6382749,8.05790807 16.6382749,8.05790807 16.6363861,8.07640676 C16.6342625,8.09448209 16.6342625,8.09448209 16.6348099,8.08852026 C16.6357231,8.07532612 16.6368644,8.05217454 16.6380306,8.0230513 C16.6389718,7.9995496 16.6396093,7.98131344 16.6407636,7.9460736 C16.6412383,7.93125301 16.6412383,7.93125301 16.6415868,7.92049161 C16.6417406,7.91585461 16.6417406,7.91585461 16.6419873,7.90953648 C16.6418446,7.90762036 16.6418446,7.90762036 16.6484437,7.84540009 L16.7415191,7.84520771 C16.6725764,7.91286807 16.6693358,7.93012543 16.6601437,7.97907553 Z M17.721964,7.95530198 C17.7220183,7.95386503 17.7219927,7.95460949 17.721934,7.956313 C17.7219052,7.95720484 17.7218791,7.95801026 17.7218551,7.95875168 C17.7220951,7.95563971 17.72205,7.9554824 17.721964,7.95530198 Z M16.796965,7.60517819 C16.9436833,7.33087944 17.1687329,7.12164287 17.481973,7.04044588 C17.9300971,6.92094611 18.8685389,6.84359082 19.6770494,6.85674313 C20.669528,6.86828358 21.3206748,6.99087602 21.6064,7.18731211 L21.7992134,7.31987132 L21.8344979,7.55118056 C21.8869444,7.89499668 21.9192225,8.64441043 21.9297301,9.35892272 L21.9400644,10.0616607 L21.2758811,9.89561491 C21.2486686,9.89193155 21.2271006,9.8884731 21.2042869,9.88307202 C20.7880624,9.81809569 20.102714,9.78640521 19.1233744,9.78640521 C18.2601571,9.78640521 17.6361336,9.81980793 17.2172748,9.88232418 L16.5733506,9.97843225 L16.6354289,8.29827184 L16.6011191,8.22965218 L16.640843,8.04427376 C16.642928,8.03454409 16.6450441,8.02490386 16.6472001,8.01534148 L16.6415759,7.98909552 L16.6415759,7.93547115 C16.6416165,7.93837866 16.6417764,7.94339711 16.6422714,7.95893364 C16.6426183,7.96510912 16.6426352,7.96541025 16.6479501,8.01202509 C16.6796869,7.87213367 16.7202093,7.74867774 16.796965,7.60517819 Z M16.6415759,7.93183789 C16.6415644,7.9331772 16.6415566,7.93408389 16.6415759,7.93547115 L16.6415759,7.93183789 Z M15.8218631,23.0732066 C17.7615396,23.1894197 20.0705311,23.2336549 22.7193668,23.1314401 L22.7653249,18.87771 C22.0753076,18.866386 21.2864201,18.8614828 20.4146705,18.8622716 C19.2924634,18.8632871 18.097384,18.8734911 16.8547917,18.8902279 C16.4756325,18.8953349 16.2081882,18.8992772 15.8422449,18.9051335 L15.8218631,23.0732066 Z M15.2954607,17.8329622 C15.986415,17.8215729 16.3003722,17.8166566 16.8402335,17.8093851 C18.0869988,17.792592 19.2863853,17.7823513 20.4136924,17.7813312 C21.527302,17.7803235 22.5078411,17.7885475 23.3241461,17.8075756 L23.8577565,17.820014 L23.7891829,24.1669542 L23.2785713,24.18994 C20.1312636,24.3316194 17.4390075,24.2696263 15.2419763,24.1191447 L14.7359642,24.0844863 L14.7664914,17.8416815 L15.2954607,17.8329622 Z M24.838268,25.9288353 C24.8631015,26.639071 24.8557815,27.5271298 24.8390467,27.8511404 C24.8879275,29.5303252 24.4970653,30.5325117 23.8911696,31.0193885 C23.7337259,31.2292902 23.4857794,31.3637502 23.225759,31.3635512 C22.8460727,31.3748301 18.552949,31.4222416 16.9147159,31.4274396 C16.1545595,31.4274396 15.9543823,31.4265539 15.8400294,31.4205208 C15.0620047,31.385274 14.3798099,30.8901106 13.9764047,29.8815675 C13.9512001,29.8197131 13.9294408,29.757844 13.9109058,29.6953187 C13.8125985,29.3636928 13.8083274,29.1722839 13.8414814,28.4512209 C13.8423275,28.431758 13.8512237,28.2319504 13.8539362,28.1682488 C13.8777968,27.607903 13.8855722,27.1372432 13.8728839,26.51126 C13.8476158,25.1063521 13.9401981,24.2217927 14.1024455,23.7167794 L14.1332079,18.222564 C14.0131481,17.8787073 13.9317586,17.3804029 13.8712708,16.7476073 C13.8290721,16.306144 13.804766,15.8845798 13.7906089,15.5018212 C13.7054905,13.6292184 14.1499773,12.7256523 15.2959351,11.6549016 C15.3358842,11.6176216 15.3358842,11.6176216 15.3844851,11.5725715 C15.5531679,11.4226311 15.7107602,11.2694573 15.8565317,11.1124728 C16.0041466,10.9533554 16.0940781,10.8165907 16.1404833,10.7023139 C15.8236463,10.4414604 15.6949941,10.1008393 15.7570883,9.75995256 C15.7857396,9.57849404 15.8587111,9.4179234 15.9755838,9.28398589 L16.0158728,8.14855959 C15.8914593,7.44023443 16.3439046,6.69239388 17.324044,6.42444572 C18.4631153,6.10856879 21.1199019,6.11351625 21.9367322,6.63333853 C22.2449846,6.82599625 22.4170356,7.09814975 22.470007,7.39852927 C22.5092253,7.63685614 22.5362005,8.00632893 22.555805,8.48927532 C22.5643225,8.69909774 22.571018,8.9213195 22.5763813,9.15556854 C22.5784481,9.24584074 22.5802465,9.33476433 22.5819217,9.42696737 C22.6291116,9.54503688 22.6615458,9.63346152 22.6767291,9.72552072 C22.7489812,10.0867812 22.6184064,10.4131504 22.3553043,10.6531688 C22.3733968,10.7832226 22.3909249,10.8535191 22.4033005,10.8687287 C22.4492898,10.9262154 22.5877409,11.0410284 22.8689333,11.2538263 C24.1093724,12.1989227 24.6630061,12.8293377 24.7781821,13.9043165 C24.8845229,14.8879688 24.8643697,15.8532465 24.7509736,16.7704501 C24.6810079,17.3363668 24.5867634,17.8052885 24.4940878,18.1553219 L24.4331517,23.6212857 C24.6824158,24.0410034 24.7931533,24.7332486 24.838268,25.9288353 Z M23.1814893,30.2011726 C23.2812859,30.1318694 23.3969045,29.990488 23.5062593,29.7329287 C23.6866467,29.3080688 23.7841462,28.6953408 23.7579243,27.8614819 C23.7626979,27.7429203 23.7694226,27.4729739 23.7720012,27.1918963 C23.7757591,26.7822891 23.771818,26.3621647 23.7580416,25.9681019 C23.7149957,24.8273845 23.6053119,24.2815291 23.487939,24.1503131 L23.3479901,23.9938585 L23.414764,18.0042455 L23.4335057,17.9364869 C23.518661,17.6286179 23.6103933,17.1862765 23.6782003,16.6378206 C23.7818984,15.799059 23.8003316,14.9161623 23.7034479,14.0199853 C23.6314594,13.3480925 23.2217844,12.8816013 22.215242,12.1147082 C21.8463186,11.835523 21.6862926,11.7028185 21.5622724,11.5477584 C21.345766,11.2820461 21.2942007,11.0227872 21.2453451,10.4365202 L21.2146506,10.0681858 L21.5467712,9.90598741 C21.5494231,9.90469227 21.5364518,9.88387224 21.5078574,9.84352732 L21.5045187,9.64320697 C21.4965923,9.16762204 21.4902299,8.88973347 21.4757536,8.53311851 C21.4578954,8.09319041 21.4332169,7.75517411 21.4044625,7.58021301 C21.403885,7.57694066 21.4018631,7.57374232 21.3601181,7.54763065 C20.8587842,7.22859997 18.4851951,7.22417988 17.6109963,7.466601 C17.1642411,7.58873553 17.0424528,7.80456284 17.0839255,7.97799421 L17.101011,8.04944246 L17.0369953,9.85353377 L16.9160765,9.92498579 C16.9211292,9.92758064 17.0097625,9.97062587 17.1819764,10.0541215 L17.2346455,10.3174667 C17.3254044,10.7712612 17.1617733,11.2948806 16.6488081,11.847817 C16.4785044,12.031221 16.2962684,12.2083476 16.1118406,12.3720912 C16.072637,12.4085886 16.072637,12.4085886 16.033919,12.44472 C15.1026071,13.3149115 14.8011188,13.9277861 14.870622,15.457276 C14.8842557,15.8253881 14.907467,16.2279645 14.9473069,16.6447509 C15.0044406,17.2424578 15.0848788,17.7063116 15.1728266,17.9165283 L15.2153107,18.0180756 L15.1823245,23.9094602 L15.1478848,24.000455 C15.1037945,24.1169479 15.056992,24.3251563 15.0191928,24.6437554 C14.9647038,25.1030281 14.9396391,25.7128174 14.9536264,26.4905869 C14.9667949,27.1401894 14.9586568,27.6328082 14.9338984,28.2142357 C14.9311317,28.2792094 14.9222057,28.4796875 14.921342,28.499517 C14.894368,29.0862014 14.8973467,29.2196922 14.9472692,29.3880988 C14.9556246,29.4162844 14.9655709,29.4445651 14.9787313,29.4768916 C15.2274446,30.098675 15.5390291,30.3248351 15.8928958,30.3408807 C15.9808287,30.3455088 16.204555,30.3464987 16.9130002,30.3465015 C18.4213292,30.3417131 22.2123553,30.3007162 23.06513,30.2858529 L23.1814893,30.2011726 Z M16.8127465,9.85892894 C16.8120408,9.85745549 16.8113047,9.85601122 16.8105384,9.85459899 C16.8107939,9.85506973 16.8111446,9.85561025 16.8115955,9.85621915 L16.8127465,9.85892894 Z M21.6275771,9.85506872 C21.6294418,9.85320427 21.630757,9.85164916 21.6315414,9.85044235 C21.6312333,9.85091631 21.6309284,9.85139889 21.6306268,9.8518896 L21.6275771,9.85506872 Z"  fill-rule="nonzero" transform="translate(19.317388, 18.818881) rotate(-15.000000) translate(-19.317388, -18.818881) "></path>
                  </svg>
                  <p>Plastic Free</p>
              </div>
          </div>
      </div>
    </div>
</section>

<section id="js-floating-cta-trigger" class="section section--hide-overflow section--decs">
  <div class="container container--images">
    <section class="single-product__section single-product__section1">
      <div class="section__dec section__dec--product1">
        {% include 'decoration-coral-pink' %}
      </div>
      <div class="section__dec section__dec--product2">
        {% include 'decoration-coral-yellow' %}
      </div>

      {% if product.images.size > 1 %}
        <div class="l-section-col">
          <div class="single-product__desc-img single-product__desc-img1">
            {% include 'responsive-image' with
              image: product.images[1],
              max_width: 1067,
              max_height: 1200,
              image_attributes: "data-product-featured-image",
              wrapper_class: wrapper_class,
              wrapper_attributes: "data-product-image-wrapper",
            %}
          </div>
        </div>
      {% endif %}

      <div class="l-section-col">
        <div class="single-product__desc single-product__desc1{% if product.handle == 'omega-3-from-algae-refill-service' %} single-product__desc--wide{% endif %}">
          {{ product.description }}
        </div>
      </div>
    </section>

    <section class="single-product__section single-product__section2">
      <div class="section__dec section__dec--product3">
        {% include 'decoration-coral-blue' %}
      </div>
      <div class="section__dec section__dec--product4">
        {% include 'decoration-coral-pink-blue-dots' %}
      </div>

      <div class="l-section-col">
        <div class="single-product__desc single-product__desc2 single-product__desc--wide">
            <p>Our Bloom algae is sustainably grown in pools of water, away from marine life.</p>
            <p>This means we don't damage any ocean food chains, and we don't contribute towards the issues of overfishing or by-catch.</p>
            <p>It also means our algae is free from mercury, PCBs and microplastics - along with other harmful toxins that are often found inside fish oil.</p>
            <p>Once cultivated, we extract the oil and encapsulate it in inside a vegetable-based capsule.</p>
            <p>Each softgel contains 250mg of DHA and EPA at an optimal 2:1 ratio. DHA and EPA have been shown to have a profound effect on mood, eye health, cognition and heart health.</p>
            <hr class="hr--yellow" />
            <p>Bloom is ideal for: </p>
            <ul>
                <li>Those looking to live a healthier lifestyle without causing damage to the oceans or marine life. </li>
                <li>Vegans, vegetarians, or simply those looking to cut down on the amount of animal products they consume. </li>
                <li>Expectant mothers that wish to obtain the benefits of Omega-3 without the risks associated with contaminated fish oil.</li>
                <li>Children to obtain the healthy developmental benefits of Omega-3 DHA and EPA.</li>
                <li>Sufferers of fish or shellfish allergies.</li>
            </ul>
        </div>
      </div>
          
      {% if product.images.size > 1 %}
        <div class="l-section-col">
          <div class="single-product__desc-img single-product__desc-img2">
            {% include 'responsive-image' with
              image: product.images[2],
              max_width: 1067,
              max_height: 1200,
              image_attributes: "data-product-featured-image",
              wrapper_class: wrapper_class,
              wrapper_attributes: "data-product-image-wrapper",
            %}
          </div>
        </div>
      {% endif %}
    </section>
   </div>

  {% comment %} <section class="section">
    <div class="container container--narrow container--relative">
      {% if section.settings.title != blank %}
          <h2 class="title title--brand2 title--space">
              <span class="title__text">{{ section.settings.title | escape }}</span>
          </h2>
      {% endif %}

      {% include 'quotes' %}
    </div>
  </section> {% endcomment %}

    {% if product.handle == 'omega-3-from-algae-single' %}
        <div class="js-floating-cta floating-cta">
            <div class="floating-cta__content">

            </div>
        </div>
    {% endif %}

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
</section>

{% schema %}
  {
    "name": {
      "en": "Product Reviews"
    },
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête",
          "it": "Heading",
          "ja": "見出し",
          "es": "Título",
          "pt-BR": "Título"
        },
        "default": {
          "en": "Product Reviews",
          "de": "Testimonials",
          "fr": "Témoignages",
          "it": "Testimonial",
          "ja": "お客様の声",
          "es": "Testimonios",
          "pt-BR": "Depoimentos"
        }
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": {
          "en": "Product Review",
          "de": "Testimonial",
          "fr": "Témoignages",
          "it": "Testimonial",
          "ja": "お客様の声",
          "es": "Testimonio",
          "pt-BR": "Depoimento"
        },
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": {
              "en": "Text",
              "de": "Text",
              "fr": "Texte",
              "it": "Testo",
              "ja": "テキスト",
              "es": "Texto",
              "pt-BR": "Texto"
            },
            "default": {
              "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
              "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
              "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>",
              "it": "<p>Aggiungi recensioni e testimonianze sul tuo negozio per dimostrare che i clienti sono soddisfatti.</p>",
              "ja": "<p>あなたのストアの幸せなお客様を紹介するために、カスタマーレビューとお客様の声を追加してください。</p>",
              "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
              "pt-BR": "<p>Adicione comentários e depoimentos de clientes para destacar os clientes felizes da sua loja.</p>"
            }
          },
          {
            "type": "text",
            "id": "author",
            "label": {
              "en": "Author",
              "de": "Autor",
              "fr": "Auteur",
              "it": "Autore",
              "ja": "執筆者",
              "es": "Autor",
              "pt-BR": "Autoria"
            },
            "default": {
              "en": "Author's name",
              "de": "Name des Autors",
              "fr": "Nom de l'auteur",
              "it": "Nome dell'autore",
              "ja": "筆者の名前",
              "es": "Nombre del autor",
              "pt-BR": "Nome do(a) autor(a)"
            }
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image"
            }
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Product Reviews",
          "de": "Testimonials",
          "fr": "Témoignages",
          "it": "Testimonial",
          "ja": "お客様の声",
          "es": "Testimonios",
          "pt-BR": "Depoimentos"
        },
        "category": {
          "en": "Text",
          "de": "Text",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "es": "Texto",
          "pt-BR": "Texto"
        },
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}