{%- comment -%}
  This is available when you add the "Testimonials" section in the theme editor.
{%- endcomment -%}

<section class="section section--white section--space section--quotes" data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="container container--narrow container--relative">

    {% if section.settings.title != blank %}
        <h2 class="title title--brand4 title--space">
            <span class="title__text">{{ section.settings.title | escape }}</span>
        </h2>
    {% endif %}

    {% include 'quotes' %}

  </div>
</section>

{% schema %}
  {
    "name": {
      "en": "Testimonials",
      "de": "Testimonials",
      "fr": "Témoignages",
      "it": "Testimonial",
      "ja": "お客様の声",
      "es": "Testimonios",
      "pt-BR": "Depoimentos"
    },
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête",
          "it": "Heading",
          "ja": "見出し",
          "es": "Título",
          "pt-BR": "Título"
        },
        "default": {
          "en": "Testimonials",
          "de": "Testimonials",
          "fr": "Témoignages",
          "it": "Testimonial",
          "ja": "お客様の声",
          "es": "Testimonios",
          "pt-BR": "Depoimentos"
        }
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": {
          "en": "Testimonial",
          "de": "Testimonial",
          "fr": "Témoignages",
          "it": "Testimonial",
          "ja": "お客様の声",
          "es": "Testimonio",
          "pt-BR": "Depoimento"
        },
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": {
              "en": "Text",
              "de": "Text",
              "fr": "Texte",
              "it": "Testo",
              "ja": "テキスト",
              "es": "Texto",
              "pt-BR": "Texto"
            },
            "default": {
              "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
              "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
              "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>",
              "it": "<p>Aggiungi recensioni e testimonianze sul tuo negozio per dimostrare che i clienti sono soddisfatti.</p>",
              "ja": "<p>あなたのストアの幸せなお客様を紹介するために、カスタマーレビューとお客様の声を追加してください。</p>",
              "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
              "pt-BR": "<p>Adicione comentários e depoimentos de clientes para destacar os clientes felizes da sua loja.</p>"
            }
          },
          {
            "type": "text",
            "id": "author",
            "label": {
              "en": "Author",
              "de": "Autor",
              "fr": "Auteur",
              "it": "Autore",
              "ja": "執筆者",
              "es": "Autor",
              "pt-BR": "Autoria"
            },
            "default": {
              "en": "Author's name",
              "de": "Name des Autors",
              "fr": "Nom de l'auteur",
              "it": "Nome dell'autore",
              "ja": "筆者の名前",
              "es": "Nombre del autor",
              "pt-BR": "Nome do(a) autor(a)"
            }
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image"
            }
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Testimonials",
          "de": "Testimonials",
          "fr": "Témoignages",
          "it": "Testimonial",
          "ja": "お客様の声",
          "es": "Testimonios",
          "pt-BR": "Depoimentos"
        },
        "category": {
          "en": "Text",
          "de": "Text",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "es": "Texto",
          "pt-BR": "Texto"
        },
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
