.collection-list {
  display:block;
  width:100%;
}


.collection-list-item {
	position:relative;
	display:block;
	width:100%;
	min-height:calc(100vh - 60px);
	text-align: center;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#eee;

	@include media-query($medium-up) {
		min-height:calc(100vh - 83px);
		background-attachment:fixed;
	}
}


.collection-list__title {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:block;
  margin:0;
	text-align:center;

  a {
		display:block;
		margin:0;
		font-size:1.8em;
		font-style:italic;
		color:$color-collection-banner;
		text-transform:uppercase;
		text-decoration:none; 	
		text-align:center;

		@include media-query($medium-up) {
			font-size:2.6em;
		}
		@include media-query($large-up) {
			font-size:4.6em;
		}
  }
}
.collection-list__title--full-width { width:70%; }