.hero {
  position:relative;
  display:block;
  width:100%;
//   height:100vh;
  min-height:640px;
  max-height:680px;
  background-color:#f5f5f5;
  @include clearfix();

  @include media-query($small-up) {
    height:auto;
    min-height:820px;
  }
  @include media-query($medium-up) {
    min-height:900px;
  }
  @include media-query($large-up) {
    min-height:900px;
  }
}


.hero__inner {
  position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
  width:100%;
  max-width:1000px;
  margin:0 auto;
  padding:16.5em $ms0 $ms6;
  z-index:2;

  @media all and (min-width:420px){
    padding-top:19em; 
  }  
  @include media-query($small-up) {
    padding-top:24em; 
  }
  @include media-query($medium-up) {
    padding-top:26em; 
  }  
  @include media-query($large-up) {
    padding:13em $ms8 + 2em $ms0;
  }
  @include media-query($xlarge-up) {
    padding:14em $ms4 $ms0;
  }
  @include media-query($widescreen) {
    padding-top:16em;
  }
}

.hero__content {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-flex-basis:100%;
  -webkit-flex-basis:100%;
  flex-basis:100%;
  z-index:3;

  @include media-query($large-up) {
    -moz-flex-basis:50%;
    -webkit-flex-basis:50%;
    flex-basis:50%;
  }
}


.hero__title {
    display:block;
    width:100%;
    max-width:160px !important;
    margin:0 auto $ms-3;

    svg {
      display:block;
      width:100%;
      height:auto;      
    }

    @include media-query($small-up) {
      max-width:200px !important;
    }
    @include media-query($large-up) {
      max-width:230px !important;
      margin:0 0 $ms-3;
    }
}


.hero__subtitle {
  max-width:420px;
  margin:0 auto $ms-8 - .1em;
  @include type-large;
  text-align:center;

  @include media-query($small-up) {
    max-width:500px;
    font-size:$ms4;
  }

  @include media-query($large-up) {
    max-width:420px;
    margin:0 0 $ms-8 - .1em;
    font-size:$ms7 - .2em;
    line-height:$ms-1;
    text-align:left;
  }
}


.hero__text {
  display:block;
  width:100%;
  max-width:270px;
  margin:0 auto $ms0;
  text-align:center;

  @include media-query($small-up) {
    max-width:400px;
  }
  @include media-query($large-up) {
    max-width:460px;
    margin:0 0 $ms0;
    text-align:left;
  }

  p {
    @include type-medium;
    color:$color-brand4;
    line-height:$ms0;
    text-align:center;

    &:last-of-type { margin-bottom:0; }

    @include media-query($small-up) {
      @include type-xlarge;
    }
    @include media-query($large-up) {
      @include type-giga;
      text-align:left;
    }
  }
}


.hero__buttons {
  display:block;
  margin:0 auto;
  width:225px;
  text-align:center;

  @media all and (min-width: 400px){
    width:350px;
}
  @include media-query($large-up) {
    width:auto;
    text-align:left;
    }
}


.hero__image {
  position: absolute;
  top:100px;
  left:50%;
  transform:translateX(-50%);
  width:440px;
  height:auto;
  z-index:0;
  overflow:visible;

  img {
     display:block;
     width:100%;
     height:auto;
  }

  @media all and (min-width:420px){
    top:110px;
    width:520px;
  }  
  @include media-query($small-up) {
    top:140px;
    width:700px;
  }
  @include media-query($large-up) {
    top:240px;
    left:70%;
    width:760px;
  }
  @include media-query($xlarge-up) {
    left:65%;
    width:1000px;
  }
  @include media-query($widescreen) {
    top:280px;
  }
}


// Hero decorations
.hero__patterns {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
  overflow:visible;

  @include media-query($small-up) {
    background-position:94% 0;
    background-size:1000px auto;
	}
  @include media-query($large-up) {
    background-position:74% center;
    background-size:1580px auto;
	}
}

.hero__pattern {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  max-width:none;
  background-repeat:no-repeat;
  z-index:0;
}

.hero__pattern--top {
  top:-8px;
  left:55%;
  transform:translateX(-50%);
  background-position:center 0;
  background-size:100% auto;
  max-width:250px;

  @media all and (min-width:420px){
    top:-25px;
    max-width:420px;
  }  
  @media all and (min-width:600px){
    top:-65px;
    max-width:520px;
  }  
  @media all and (min-width:768px){
    top:-55px;
    left:52%;
    max-width:620px;
  }  
  @media all and (min-width:1200px){
    top:-30px;
    max-width:1420px;
  }  
}

.hero__pattern--left {
  left:-80px;
  background-position:center;
  background-size:contain;
  max-width:120px;

  @media all and (min-width:600px){
    top:-30px;
    max-width:140px;
  }  
  @media all and (min-width:768px){
    top:10px;
    max-width:160px;
  } 
  @media all and (min-width:900px){
    top:30px;
    left:-100px;
    max-width:200px;
  } 
  @media all and (min-width:1200px){
    top:60px;
    left:-140px;
    max-width:230px;
  }  
  @media all and (min-width:2000px){
    display:none;
  }
}

.hero__pattern--right {
  right:-90px;
  background-position:right 70px;
  background-size:100% auto;
  max-width:130px;

  @media all and (min-width:600px){
    max-width:160px;
  }  
  @media all and (min-width:768px){
    max-width:180px;
    right:-100px;
  }  
  @media all and (min-width:900px){
    max-width:200px;
  } 
  @media all and (min-width:1200px){
    top:50px;
    right:-150px;
    max-width:320px;
  }  
  @media all and (min-width:2000px){
    display:none;
  }  
}

.hero__pattern--bottom {
  top:auto;
  bottom:-30px;
  left:50%;
  transform:translateX(-50%);
  background-position:bottom center;
  background-size:100% auto;
  max-width:250px;

  @media all and (min-width:420px){
    max-width:380px;
  }  
  @media all and (min-width:600px){
    bottom:-45px;
    max-width:600px;
  }  
  @media all and (min-width:1200px){
    bottom:-100px;
    max-width:1200px;
  }  
}