/*
 * Logo Bar
*/

.logo-bar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: center;
    align-items: center;
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
    @include clearfix();
}


.logo-bar__item {
    flex:0 1 auto;
    flex-basis:100px;
    width:100px;
    height:auto;
    padding:0;
    margin:$ms0 $ms0;

    img {
        display:block;
        margin:0 auto;
    }

    @include media-query($small-up) {
        flex-basis:140px;
        width:140px;
    }
    @include media-query($medium-up) {
        flex-basis:120px;
        width:120px;
        margin:$ms0 $ms4;
    }
    @include media-query($large-up) {
        flex-basis:120px;
        width:120px;
    }
    @include media-query($xlarge-up) {
        flex-basis:135px;
        width:130px;
        margin:0 $ms2;

        &:first-child { margin-left:0; }
        &:last-child { margin-right:0; }
    }
}