.section {
    float:left;
    width:100%;
    padding:$ms3 0;
    background-color:#fff;

	@include media-query($small-up) {
		padding:$ms4 0;
    } 
	@include media-query($medium-up) {
		padding:$ms8+1em 0;
        min-height:400px;
    }    
}

.section--relative { position: relative; }

.section--space {
	@include media-query($medium-up) {
		padding:$ms8+4em 0;
    } 
}

.section--top {
    padding-top:$ms7;

    @include media-query($medium-up) {
		padding-top:$ms8 + 2em;
    }     
}

.section--space-top {
    padding-top:$ms6 + .5em;

    @include media-query($medium-up) {
		padding-top:$ms8 + 2em;
    }     
    @include media-query($large-up) {
		padding-top:$ms8+6em;
    }     
}

.section--image-with-text { 
    position: relative;
    padding:$ms7 0;
    overflow:hidden;

	@include media-query($medium-up) {
        min-height:600px;
    }  
	@include media-query($xlarge-up) {
        min-height:800px;
    }  
	@include media-query($giant-up) {
        min-height:1060px;
        padding-bottom:$ms5;
    }  
}
.section--image-with-text1 { 
    @include media-query($medium-up) {
        padding:$ms8+8em 0 $ms8; 
    }  
    @include media-query($xlarge-up) {
        padding:$ms8+9em 0 $ms8+6em; 
    }
    @include media-query($widescreen) {
        .section__image {
            margin-top:-$ms2;
        }
    }
}
.section--image-with-text2 { 
    padding-top:$ms2;

    @include media-query($medium-up) {
        padding:$ms8 0 $ms8+8em;

        .section__image {
            max-width: 980px;
        }
    }   
    @include media-query($xlarge-up) {
        padding:$ms8+2em 0 $ms7; 
    }

    @media all and (min-width: 1400px) {
        .section__image {
            width: 52%;
            margin-top:-$ms2;
        } 
    }
    @media all and (min-width: 1600px) {
        .section__image {
            width: 53%;
        }
    }
}
.section--image-with-text3 { 
    padding-top:$ms2;

    @include media-query($medium-up) {
        padding:$ms8 0 $ms8+10em; 

        .section__image {
            max-width: 500px;
        } 
    }
    @include media-query($xlarge-up) {
        padding:$ms8+2em 0 $ms8+9em; 
    }
    @media all and (min-width: 1400px) {
        .section__image {
            max-width: 590px;
            margin-right: 12%;
        } 
    }
    @media all and (min-width: 1600px) {
        .section__image {
            max-width: 618px;
            margin-right: 15%;
        } 
    }
}


.section--logos { 
    padding-top:$ms3;
    padding-bottom:0; 

	@include media-query($medium-up) {
        padding-top:$ms8 + 4em;
        padding-bottom:$ms8; 
    }
}

.section--quotes { 
    padding-top:$ms8;
    padding-bottom:$ms6; 

    @include media-query($medium-up) {
        padding-bottom:$ms8 + 4em; 
    }
}

.section--tight { 
    padding-top:0; 
    padding-bottom:0; 

    @include media-query($medium-up) {
        padding-top:0; 
        padding-bottom:0; 
    } 
}

.section--hide-overflow { overflow: hidden; }

.section--product {
    position:relative;
    overflow:hidden;

	@include media-query($medium-up) {
        padding-top:$ms8+4em;
        padding-bottom:$ms6;
    } 
}

.section--decs { 
    position: relative; 

    @include media-query($large-up) {
        padding-top:0;
        padding-bottom:0;
    } 
}

// Colours
.section--brand1 { background-color:$color-brand1; }
.section--brand2 { background-color:$color-brand2; }
.section--brand3 { background-color:$color-brand3; }
.section--brand4 { background-color:$color-brand4; }
.section--grey { background-color:#f6f6f6; }
.section--pink { background-color:#F9E6E8; }



.section__content {
    float:left;
    width:100%;
    
    @include media-query($small-up) {
        padding-left:$ms4;
        max-width:500px;
    }     
    @include media-query($large-up) {
        width:40%;
    }    
    @include media-query($xlarge-up) {
        padding-left:$ms5;
        padding-right:0;
        max-width:500px;
    } 
}

.section__title {
    @include type-xlarge;
    color:$color-brand1;
    text-transform:lowercase;

    @include media-query($medium-up) {
        @include type-mega;
        margin-bottom:$ms-4;
    } 
}

.section__text {
    display:block;
    width:100%;

    p {
        color:$color-brand1;
    }
}


.section__image {
    float:right;
    width: 100%;
    margin:$ms1 auto $ms2;

    @include media-query($small-up) {
        clear: both;
        float:none;
        display: block;
        width:86%;
    }     
    @include media-query($large-up) {
        clear: none;
        float:right;
        width:50%;
        margin-top:$ms4;
        margin-bottom:$ms4;
        margin-left:5%;
        margin-right:5%;
    }    
    @include media-query($widescreen) {
        margin-left:$ms5;
        margin-right:$ms5;
    }   
}
.section__image--mobile {
    @include media-query($small-up) {
        display: none;
    }     
}
.section__image--desktop {
    display: none;

    @include media-query($small-up) {
        display: block;
    }  
}



// Single product section
.section--product {
    background-position:138% 6%;
    background-size:60% auto;
    background-repeat:no-repeat;
}


// Contact
.section--contact {
    @include media-query($xlarge-up) {
        padding-bottom:14em;
    }   
    @include media-query($widescreen) {
        padding-bottom:16em;
    }
}