/*
 * Concerned with the top header strip & Site Brand Logo
*/

.site-header {
	position: absolute;
	top:0;
	left:0;
	float:left;
	width:100%;
	padding-top:$ms-2;
	padding-bottom:$ms-2;
	background-color:$color-site-header;
	z-index:10;

	@include media-query($medium-up) {
		padding:$ms1 0;
	}
}
.site-header.announcement-reveal { 
	@include transition(0.4s ease-in-out);
	top:40px; 
}
.site-header--home {
	@include transition(0.2s ease-out);
}


.announcement {
	position:relative;
	top:-40px;
	float:left;
	width:100%;
	padding:$ms-4 $ms-2;
	background-color:$color-brand4;
	cursor:pointer;
	@include transition(0.3s ease-out);

	p {
		margin-bottom:0;
		@include font-light;
		font-size:$ms-1 - .15em;
		text-align:center;
		color:$color-brand1; 
	}

	svg {
		float:right;
		margin-top:2px;
	}
}
.announcement.announcement-reveal { 
	@include transition(0.4s ease-in-out);
	top:0; 
}


.site-brand {
	position: absolute;
	top:$ms-8;
	left:50%;
	transform:translateX(-50%);
	margin:0; 
	z-index:2;

	img,
	svg {
		display:block;
		width:100px;
		height:32px;
	}

	@include media-query($medium-up) {
		position: relative;
		top:auto;
		left:auto;
		transform:none;
		float:left;
		width:138px;
		height:44px;
		margin:0 $ms3; 

		img,
		svg {
			width:128px;
			height:44px;
		}
    }
	@include media-query($large-up) {
		margin:0 $ms0;     
    }    
	@media all and (min-width: 1750px) {
		margin:0; 
	}
}

.site-header__items {
	position:relative;
	clear:both;
	display:block;
	width:100%;
	top:$ms-2;
    padding:$ms-3 $ms0;
    background-color: #F9E6E8;

	@include media-query($medium-up) {
		display:block;
		clear:none;
		float:right;
		width:auto;
		padding:0;

		position: absolute;
		top: 50%;
		left: 50%;
        transform: translate(-50%,-50%);
        
        background-color: transparent;
	}
}