/*
 * Site Footer Styles
*/

.site-footer {
	position:relative;
	clear:both;
	display:block;
	width:100%;
	padding:$ms4 $ms0 9em;
	background-color:$color-site-footer;
	background-repeat:repeat-x;
	background-position:center 102%;
	background-size:760px auto;
	background-image:url('https://cdn.shopify.com/s/files/1/0030/9942/6883/files/footer-coral.png?4777354678826030918');

	@include media-query($medium-up) {
		padding:$ms8 0 20em;
		background-size:1200px auto;
	}
	@include media-query($xlarge-up) {
		background-size:1400px auto;
	}
}


.site-footer__brand {
	clear:both;
	display:block;
	max-width:160px;
	margin:0 auto $ms2; 

	@include media-query($medium-up) {
		max-width:210px;
		margin-bottom:$ms8 + 2em;
	}
}


.site-footer__cols {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
}
.site-footer__col {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -moz-flex-basis:100%;
    -webkit-flex-basis:100%;
	flex-basis:100%;

	@include media-query($medium-up) {
        &.site-footer__col1,
        &.site-footer__col3 {
            -moz-flex-basis: 200px;
            -webkit-flex-basis: 200px;
            flex-basis: 200px;    
        }
    }
	@include media-query($large-up) {
        &.site-footer__col2 {
            -moz-flex-basis: 200px;
            -webkit-flex-basis: 200px;
            flex-basis: 200px;    
        }
		&.site-footer__col1 { order:1; }
		&.site-footer__col2 { order:2; }
		&.site-footer__col3 { order:3; }        
    }    
}
.site-footer__col1 { order:2 }
.site-footer__col2 { order:1; }
.site-footer__col3 { order:3; }


.site-footer__list {
	display:block;
	list-style:none;
	margin:0;
	padding:0;

	li {
		clear:both;
		display:block;
		margin-bottom:$ms-4;
        text-align:center;	
        
        @include media-query($medium-up) {
            margin-bottom:$ms-3;
        }
	}

	a {
		display:block;
		margin-bottom:0;
		color:$color-brand3;
        font-size:$ms-3;
        text-align:center;
		text-decoration:none;
		text-transform:uppercase;
        font-weight:$font-body-weight-bold;
        letter-spacing:0.05em;
        
		@include media-query($medium-up) {
			margin-bottom:$ms1 + .125em;
            @include type-xsmall;

			&:hover {
				text-decoration:underline;
			}
        }
		@include media-query($large-up) {
			@include type-small;
		}	
	}
}