/*
 * Site Navigation styles
*/

.site-nav {
	display:block;
	width:100%;
	@include clearfix();

	ul {
		display:block;
		margin:0;
		padding:0;
		width:100%;
		list-style:none;
	}

	@include media-query($medium-up) {
		margin-top:$ms-7;
	}
}

// Hover & Current State Mixin 
.site-nav__item {
	position:relative;
    display:block;
    padding:$ms-1 0;
	margin-bottom:0;
    line-height:$ms1;
    border-bottom:1px solid #9B9B9B;

	&:last-child { 
        margin-bottom:0; 
        border-bottom-width: 0;
    }

	@include media-query($medium-up) {
		display:inline-block;
		margin:0 $ms0;
        line-height:$ms2;
        border-bottom:1px solid transparent;	        
	}

	a {
		display:block;
		margin-bottom:0;
		@include font-light;
		font-size:$ms0 - .1em;
		text-transform:lowercase;
		color:$color-brand3;
		text-decoration:none;
		font-weight:100;
        text-align: left;

		&:visited,
		&:active,
		&:focus {
			color:$color-brand3;
		}	

		@include media-query($medium-up) {
			margin-bottom:0;
			@include transition(all 0.2s linear);
            color:$color-site-header-text;
            text-align:center;
            
			&:hover {
				border-bottom-color:1px solid $color-site-header-text;
            }
            
            &:visited,
            &:active,
            &:focus {
                color:$color-site-header-text;
            }	            
		}
	}
}


.cart-trigger {
	position: absolute;
	display:block;
	top:$ms-6;
	right:$ms2;
	margin:0;
	@include type-xsmall;
	color:$color-site-header-text;
	text-decoration:none;
	font-weight:$font-body-weight-bold;
	text-transform:uppercase;
	letter-spacing:.2em;

	&:visited,
	&:active,
	&:focus {
		color:$color-site-header-text;
	}			

	span { display:none; }

	svg {
		position: relative;
		display:inline-block;
		top:3px;
		margin-left:$ms-8;
		width:24px;
		height:23px;

		@include media-query($medium-up) {
			top:4px;
		}
	}

	@include media-query($medium-up) {
		top:50%;
		right:$ms4;
		transform:translateY(-50%);
		@include type-xsmall;

		span { display:inline-block; }

		&:hover {
			text-decoration:none;
		}
    }
	@include media-query($large-up) {
		right:$ms0 + .4em;    
    }    
	@media all and (min-width: 1750px) {
		right:0;
	}
}

.site-nav__item--current,
.template-product .site-nav__item:first-of-type {
	a {
		@include media-query($medium-up) {
			border-bottom:1px solid $color-site-header-text;
		}
	}
}