/* 
 * Colours
 * --------------------------------------
*/
// Text colours
$color-body-text: var(--color-body-text);

// Background colours
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colours
$color-brand1: var(--color-brand1);
$color-brand2: var(--color-brand2);
$color-brand3: var(--color-brand3);
$color-brand4: var(--color-brand4);
$color-brand5: var(--color-brand5);

$color-accent: var(--color-accent);
$color-border: var(--color-border);
$color-site-header: var(--color-site-header);
$color-site-header-text: var(--color-site-header-text);
$color-collection-banner: #ffffff;
$color-site-footer: var(--color-site-footer);
$color-site-footer-text: var(--color-site-footer-text);

// Button Colours
$color-button: var(--color-button);
$color-button-text: var(--color-button-text);

// Helper colours for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-weight-bold: 600;
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

/* 
 * Using Modular Scale for relative layout and typography
 * ----------------------------------------------------------- 
 * theory based on http://modularscale.com
*/

/* Base font sizes */
$base-font-size--narrow: 1.6rem;
$base-font-size--wide: 1.6rem;

/*Base type values for modular scale*/
$ideal-number: $base-font-size--wide;
$ratio: 1.215;

/*Convert pixels to ems*/
@function em($px, $base: $base-font-size--wide) {
    @return ($px / $base) * 1em;
}

$base-value: $ideal-number * $ratio;
$ms0: em($base-value);

/*Smaller than base*/
$ms-1: $ms0 / $ratio;
$ms-2: $ms-1 / $ratio;
$ms-3: $ms-2 / $ratio;
$ms-4: $ms-3 / $ratio;
$ms-5: $ms-4 / $ratio;
$ms-6: $ms-5 / $ratio;
$ms-7: $ms-6 / $ratio;
$ms-8: $ms-7 / $ratio;

/*Larger than base*/
$ms1: $ms0 * $ratio;
$ms2: $ms1 * $ratio;
$ms3: $ms2 * $ratio;
$ms4: $ms3 * $ratio;
$ms5: $ms4 * $ratio;
$ms6: $ms5 * $ratio;
$ms7: $ms6 * $ratio;
$ms8: $ms7 * $ratio;

/*-------------------*/

// Grid
$grid-small: 36.5em;
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-xlarge: 72.5em;
$grid-widescreen: 87.5em;
$grid-giant: 107em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$small: 'small';
$small-up: 'small-up';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$xlarge-up: 'xlarge-up';
$widescreen: 'widescreen';
$giant-up: 'giant-up';

$breakpoints: (
  $small '(max-width: #{$grid-small})',
  $small-up '(min-width: #{$grid-small})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $xlarge-up '(min-width: #{$grid-xlarge})',
  $widescreen '(min-width: #{$grid-widescreen})',
  $giant-up '(min-width: #{$grid-giant})'
);


/* 
 * Animations & Transitions
 * -----------------------------------------
*/

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;


/* 
 * Shapes
 * -----------------------------------------
*/

// Default Curve
$curve: $ms2;