<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="shortcut icon" href="{{ "favicon.png" | asset_url }}" type="image/png">

  <title>bloom</title>

  <meta name="description" content="bloom"/>
  <link rel="canonical" href="https://www.bloom.com/"/>
  <meta property="og:locale" content="en_GB"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="bloom"/>
  <meta property="og:description" content="bloom"/>
  <meta property="og:url" content="http://www.mainslondon.com/"/>
  <meta property="og:site_name" content="bloom London"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="A premium contemporary unisex brand formed by Skepta"/>
  <meta name="twitter:title" content="bloom"/>
  <meta name="twitter:site" content="@bloom"/>

  <script src="https://use.fontawesome.com/ac901fe3dc.js"></script> 


  <style>
    body {
        color: #fff;
        padding: 0;
        margin: 0;
        font-family: "Times New Roman", Georgia, Serif !important;
        font-weight: normal;
        font-style: normal;
        line-height: 1.5;
        position: relative;
        cursor: auto;
        min-height: 100%;
        display: block;
        background-image: url("{{ "background-photo-new.jpg" | asset_url }}");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #111;
    }

    a,
    a:visited { color: #ffffff; }

    /* For mobile devices */

    @media only screen and (max-width: 767px) {
        body {
            /* The file size of this background image is 93% smaller
        * to improve page load speed on mobile internet connections */
            background-image: url("{{ "background-photo-mobile-devices-new.jpg" | asset_url }}");

            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }


        ul {
            margin: 0;
            background: #000;
            display: inline-block;
            padding: 0em 0em 0em 0em !important;
        }

        li {
            display: inline-block;
            font-size: 0.825em !important;
            list-style-type: none;
            padding: 0.5em 0.5em 0 !important;
            float: left !important;
        }

        li span {
            display: block;
            font-size: 1.25em !important;
            line-height: 0.5em;
            padding: 0.10em 0 0 0 !important;
        }

        li:last-child span {
            display: block;
        }

    }

    .content {
        display: block;
        float: left;
        width: 100%;
    }

    .container {
        display: table;
        width: 90%;
        height: 100vh;
        margin: 0 auto;
    }

    .inner-container {
        display: table-cell;
        vertical-align: middle;
    }


    .login {
        display:block;
        width:300px;
        margin:0 auto;
        color: #fff;
        text-align: center;
        font-style: italic !important;
        margin: 0 auto;
    }

    .login input {
        background-color:white;
    }

    h3 {
        font-weight: normal;
    }

    ul {
        margin: 0;
        background: #000;
        display: inline-block;
        padding: 0em 0.75em;
    }

    li {
        display: inline-block;
        font-size: 1.25em;
        list-style-type: none;
        padding: 0 0.75em;
    }

    li span {
        display: block;
        font-size: 2.45em;
        line-height: 0.5em;
        padding: 0.25em 0 0 0;
    }

    li:last-child span {
        display: block;
    }

    .logo-home {
        display: block;
        height: auto;
        margin: 0 auto;
    }
  </style>

  {{ content_for_header }}
</head>

<body class="template-password">
<div class="content">
    <div class="container">
        <div class="inner-container">

            {% comment %} <img class="logo-home" src="{{ "mains_white.png" | asset_url }}"
                    alt="Mains"
                    itemprop="logo" width="700"> {% endcomment %}

            <div id="Login" class="login">
                <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
                {% form 'storefront_password' %}
                    {{ form.errors | default_errors }}
                    <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
                    <input type="password"
                    name="password"
                    id="Password"
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                    <button type="submit" name="commit">
                    {{ 'general.password_page.login_form_submit' | t }}
                    </button>
                {% endform %}
                <p>{{ 'general.password_page.admin_link_html' | t }}</p>
            </div>            

        </div>
    </div>
  </div>

  <main role="main" id="MainContent" class="main">
    {{ content_for_layout }}
  </main>

</body>
</html>
