<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}

  <script type="text/javascript">
    // Apply js class to html
    document.documentElement.className = 'js';
  </script>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% if template == 'index' %}
    {% comment %} Load overlay html, css as quickly as possible on homepage {% endcomment %}
    <style>
        .site-overlay {
          position:fixed;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-color:#F9E6E8;
          z-index:30;
      }
      .site-overlay__brand {
        position:absolute;
        top:50%;
        left:50%;
        width:272px;
        height:87px;
        transform:translate( -50%, -50% );
        opacity:0;    
        z-index:20;
        -webkit-animation:fadeIn ease-in 1; 
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;  
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
        -webkit-animation-duration:.3s;
        -moz-animation-duration:.3s;
        animation-duration:.3s;
      }
      .site-overlay__brand path {
          fill: #F8ABAD;
      }
      @media all and (max-width: 600px) {
            .site-overlay__brand {
                width:160px;
                height:auto;
            }
      }
      @media all and (max-width: 900px) {
            .site-overlay__brand {
                width:200px;
                height:auto;
            }
      }
      @-webkit-keyframes fadeIn { 0 { opacity:0; } 100% { opacity: 1} }
      @-moz-keyframes fadeIn { 0 { opacity:0; } 100% { opacity: 1} }
      @keyframes fadeIn { 0 { opacity:0; } 100% { opacity: 1} 
    </style>
    <div class="js-site-overlay site-overlay">
        <svg class="site-overlay__brand" width="272px" height="87px" viewBox="-0.001 0.399 439.816 138.426" xml:space="preserve">
            <title>bloom</title>
            <g transform="translate(0.000000, 23.630800)" opacity="0.4">
                <path fill="#F8ABAD" d="M36.434,87.043c12.416,0,21.524-11.427,21.524-24.34c0-13.078-10.263-24.173-22.849-24.173
                    c-9.936,0-17.554,4.14-17.554,4.14v33.278C18.553,78.104,24.842,87.043,36.434,87.043z M0.999-11.309
                    c0-1.817,1.656-3.643,3.643-3.643h9.439c1.822,0,3.639,1.826,3.639,3.643v38.08c1.66-0.497,9.443-3.975,19.21-3.975
                    c21.192,0,37.583,17.554,37.583,39.906c0,21.856-15.562,40.072-35.596,40.072c-15.231,0-25.167-10.764-25.167-10.764
                    l-1.656,5.631c-0.497,1.987-1.656,3.308-3.478,3.308H4.642c-1.987,0-3.643-1.652-3.643-3.643V-11.309z"/>
                <path fill="#F8ABAD" d="M93.573-11.308c0-1.817,1.652-3.643,3.643-3.643h9.27c1.826,0,3.644,1.826,3.644,3.643
                    V97.306c0,1.991-1.818,3.644-3.644,3.644h-9.27c-1.991,0-3.643-1.652-3.643-3.644V-11.308z"/>
                <path class="brand-o1" fill="#F8ABAD" d="M168.086,99.462c12.747,0,22.684-10.433,22.684-24.505c0-13.741-9.937-24.008-22.684-24.008
                    c-12.917,0-22.853,10.268-22.853,24.008C145.233,89.03,155.169,99.462,168.086,99.462 M168.086,35.217
                    c21.359,0,38.908,18.216,38.908,39.74c0,21.855-17.549,40.237-38.908,40.237c-21.524,0-39.073-18.382-39.073-40.237
                    C129.013,53.434,146.562,35.217,168.086,35.217"/>
                <path class="brand-o2" fill="#F8ABAD" d="M259.66,70.48c12.751,0,22.683-10.433,22.683-24.504c0-13.741-9.932-24.008-22.683-24.008
                    c-12.913,0-22.849,10.268-22.849,24.008C236.812,60.047,246.747,70.48,259.66,70.48 M259.66,6.235
                    c21.358,0,38.908,18.216,38.908,39.74c0,21.855-17.55,40.237-38.908,40.237c-21.524,0-39.074-18.382-39.074-40.237
                    C220.586,24.451,238.136,6.235,259.66,6.235"/>
                <path fill="#F8ABAD" d="M316.962,28.099c0-1.821,1.656-3.643,3.643-3.643h3.809c1.821,0,2.815,0.828,3.312,2.318
                    l2.153,6.62c1.656-1.818,9.766-10.595,24.339-10.595c11.095,0,17.715,4.306,23.346,12.089
                    c2.152-2.152,11.257-12.089,25.83-12.089c23.346,0,29.142,16.229,29.142,36.093v38.415c0,1.987-1.491,3.644-3.643,3.644h-9.274
                    c-2.318,0-3.643-1.656-3.643-3.644V58.231c0-12.25-4.633-19.698-15.066-19.698c-11.588,0-17.053,7.779-18.377,8.938
                    c0.331,1.656,0.663,6.293,0.663,10.263v39.575c0,1.987-1.656,3.644-3.478,3.644h-9.439c-2.153,0-3.644-1.656-3.644-3.644V58.231
                    c0-12.416-4.467-19.698-15.065-19.698c-11.422,0-17.218,8.446-18.046,11.091v47.685c0,1.987-1.822,3.644-3.643,3.644h-9.274
                    c-1.987,0-3.643-1.656-3.643-3.644V28.099z"/>
            </g>
            <g transform="translate(24.000000, 0.000000)">
                <path fill="#F8ABAD" d="M20.714,102.393c12.416,0,21.524-11.427,21.524-24.339
                    c0-13.078-10.263-24.174-22.849-24.174c-9.936,0-17.554,4.14-17.554,4.14v33.278C2.833,93.455,9.122,102.393,20.714,102.393z
                    M-14.721,4.042c0-1.818,1.656-3.644,3.643-3.644h9.44C0.183,0.399,2,2.225,2,4.042v38.08c1.66-0.497,9.444-3.974,19.21-3.974
                    c21.192,0,37.583,17.554,37.583,39.906c0,21.855-15.562,40.071-35.596,40.071c-15.231,0-25.167-10.764-25.167-10.764
                    l-1.656,5.631c-0.497,1.987-1.656,3.308-3.478,3.308h-3.975c-1.987,0-3.643-1.652-3.643-3.643V4.042z"/>
                <path fill="#F8ABAD" d="M77.854,4.043c0-1.817,1.652-3.643,3.643-3.643h9.27c1.826,0,3.643,1.826,3.643,3.643
                    v108.614c0,1.991-1.817,3.643-3.643,3.643h-9.27c-1.991,0-3.643-1.652-3.643-3.643V4.043z"/>
                <path class="brand-o1" fill="#F8ABAD" d="M152.366,114.813c12.747,0,22.684-10.433,22.684-24.505
                    c0-13.741-9.937-24.008-22.684-24.008c-12.917,0-22.853,10.267-22.853,24.008C129.513,104.38,139.449,114.813,152.366,114.813
                    M152.366,50.568c21.358,0,38.908,18.216,38.908,39.741c0,21.855-17.549,40.237-38.908,40.237
                    c-21.524,0-39.073-18.382-39.073-40.237C113.293,68.784,130.842,50.568,152.366,50.568"/>
                <path class="brand-o2" fill="#F8ABAD" d="M243.94,85.831c12.751,0,22.683-10.433,22.683-24.505c0-13.741-9.932-24.008-22.683-24.008
                    c-12.913,0-22.849,10.267-22.849,24.008C221.092,75.398,231.027,85.831,243.94,85.831 M243.94,21.586
                    c21.358,0,38.908,18.216,38.908,39.74c0,21.855-17.55,40.237-38.908,40.237c-21.524,0-39.074-18.382-39.074-40.237
                    C204.867,39.802,222.416,21.586,243.94,21.586"/>
                <path fill="#F8ABAD" d="M301.242,43.45c0-1.822,1.656-3.644,3.644-3.644h3.809c1.822,0,2.815,0.828,3.312,2.318
                    l2.153,6.62c1.656-1.818,9.766-10.595,24.339-10.595c11.095,0,17.715,4.306,23.346,12.089
                    c2.152-2.153,11.256-12.089,25.83-12.089c23.346,0,29.142,16.229,29.142,36.093v38.416c0,1.987-1.491,3.644-3.644,3.644h-9.273
                    c-2.319,0-3.643-1.657-3.643-3.644V73.582c0-12.25-4.633-19.699-15.066-19.699c-11.588,0-17.053,7.779-18.378,8.938
                    c0.331,1.656,0.663,6.293,0.663,10.263v39.575c0,1.987-1.656,3.644-3.478,3.644h-9.439c-2.153,0-3.643-1.657-3.643-3.644V73.582
                    c0-12.417-4.467-19.699-15.066-19.699c-11.422,0-17.218,8.446-18.046,11.091v47.685c0,1.987-1.821,3.644-3.643,3.644h-9.274
                    c-1.987,0-3.644-1.657-3.644-3.644V43.45z"/>
            </g>
        </svg>
    </div>
  {% endif %}

  {% if template == 'index' %}
    <div class="js-announcement announcement">
      <p>
        free UK delivery
        <svg width="14px" height="14px" viewBox="0 0 14 14">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                <g transform="translate(2.000000, 2.000000)" fill-rule="nonzero" stroke="#ffffff" stroke-width="2">
                    <path d="M0,0 L10,10" id="Line-2"></path>
                    <path d="M0,0 L10,10" id="Line-2-Copy" transform="translate(5.000000, 5.000000) scale(-1, 1) translate(-5.000000, -5.000000)"></path>
                </g>
            </g>
        </svg>      
      </p>
    </div>
  {% endif %}

  {% section 'header' %}

  <div class="js-site-wrapper site-wrapper {% if template == 'index' %} site-wrapper--home {% endif %}">
    <main id="MainContent" class="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

  <div class="js-popcart popcart">
    {% include 'popcart' %}
  </div>
  <div class="js-popcart-overlay popcart-overlay"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script>
  {% include 'script-tags', layout: 'theme' %}  
</body>
</html>
